.aboutUs__container {
    margin-top: 4.5rem;
}

.aboutUs__video {
    width: 100%;
}

.aboutUs__ourObjetive--container {
    width: 18rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.aboutUs__ourObjetive--title {
    width: 10rem;
    font-size: var(--fontSize-superTitles_mobile);
    font-weight: 200;
    line-height: 2rem;
    color: var(--greenDesafiante);
}

.aboutUs__ourObjetive--textObjective {
    font-weight: 800;
}

.aboutUs__ourObjetive--paragraph1 {
    margin-top: 1rem;
    font-size: var(--fontSize-paragraph_mobile);
    text-align: justify;
    line-height: 1.5rem;
}

.aboutUs__ourObjetiveVerse--container {
    background-image: linear-gradient(0deg, #d2d3d4dc, #e8e7e7e3), url("https://firebasestorage.googleapis.com/v0/b/quienes-somos-ec597.appspot.com/o/b812fcf3f9424a55bd227b8e7dc3ec23.webp?alt=media&token=a6723f7e-0f84-4fe2-a6a3-0ffb4c986a80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.aboutUs__ourObjetive--verse {
    width: 15rem;
    margin: 0 auto;
    font-size: var(--fontSize-titles_mobile);
    line-height: 2rem;
    color: var(--darkGray);
}

.aboutUs__ourObjetive--verse b {
    font-weight: 800;
}

.aboutUs__ourObjetive--quote {
    display: none;
}

.aboutUs__ourObjetive--paragraph2 {
    width: 18rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.aboutUs__ourObjetiveParagraph2--text1,
.aboutUs__ourObjetiveParagraph2--text2 {
    font-size: var(--fontSize-paragraph_mobile);
    text-align: justify;
    line-height: 1.5rem;
}

.aboutUs__ourObjetiveParagraph2--text2 {
    padding: 1.5rem;
    border: var(--border) var(--gray);
    border-radius: var(--borderRadius);
}

.aboutUs__ourObjetive--photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2 rem;
    font-size: var(--fontSize-paragraph_mobile);
}

.aboutUs__ourObjetive--photos>div {
    margin: 0.625rem;
    text-align: center;
}

.aboutUs__ourObjeticePhotos--lincolns {
    border-radius: 63% 37% 41% 59% / 63% 62% 38% 37%;
    margin-bottom: 0.938rem;
}

.aboutUs__ourObjeticePhotos--abigail {
    border-radius: 51% 49% 51% 49% / 59% 71% 29% 41%;
    margin-bottom: 0.938rem;
}

.aboutUs__ourObjeticePhotos--danielaLopez {
    border-radius: 59% 41% 70% 30% / 44% 71% 29% 56%;
    margin-bottom: 0.938rem;
}

.aboutUs__ourObjetiveParagraph3--container {
    margin-top: 1rem;
    padding-top: 2rem;
    background-color: rgb(247, 245, 245);
}

.aboutUs__ourObjetiveParagraph3--subcontent {
    width: 18rem;
    margin: 0 auto;
}

.aboutUs__ourObjetiveParagraph3--title {
    width: 10rem;
    font-size: var(--fontSize-titles_mobile);
    font-weight: 600;
    line-height: 2rem;
    color: var(--lightGold);
}

.aboutUs__ourObjetive--titleBold {
    font-weight: 200;
}

.aboutUs__ourObjetiveParagraph3--paragraph {
    margin-top: 1rem;
    font-size: var(--fontSize-paragraph_mobile);
    line-height: 1.5rem;
    text-align: justify;
}

.aboutUs__ourObjetive--imgDescubreLaBiblia {
    width: 8rem;
    display: block;
    margin: 0 auto;
    margin-top: -1.5rem;
    transition: var(--transition);
}

.aboutUs__ourObjetive--imgDescubreLaBiblia:hover {
    transform: var(--transform);
}

.aboutUs__ourObjetive--imgFooter-mobile {
    display: block;
    width: 100vw;
}

.aboutUs__ourObjetive--imgFooterContainer img {
    display: none;
}

@media (width >=48rem) {
    .aboutUs__ourObjetive--container {
        width: 30rem;
        display: flex;
        gap: 4rem;
        margin-top: 4rem;
    }

    .aboutUs__ourObjetive--title {
        font-size: var(--fontSize-superTitles_tablet);
    }

    .aboutUs__ourObjetive--paragraph1 {
        margin-top: 0;
    }

    .aboutUs__ourObjetiveVerse--container {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }

    .aboutUs__ourObjetive--quote {
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: block;
        color: var(--darkGray);
        font-size: 7rem;
        position: relative;
        bottom: 2rem;
        right: 2rem;
    }

    .aboutUs__ourObjetive--verse {
        width: 17rem;
        font-size: var(--fontSize-titles_tablet);
        margin: 0;
    }

    .aboutUs__ourObjetive--paragraph2 {
        width: 45rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        margin-top: 4rem;
    }

    .aboutUs__ourObjetiveParagraph2--text1 {
        width: 20rem;
    }

    .aboutUs__ourObjetiveParagraph2--text2 {
        width: 22rem;
    }

    .aboutUs__ourObjetive--photos {
        gap: 3rem;
    }

    .aboutUs__ourObjetiveParagraph3--subcontent {
        display: flex;
        width: 30rem;
        gap: 4rem;
        margin-top: 2rem;
    }

    .aboutUs__ourObjetiveParagraph3--title {
        width: 10rem;
        font-size: var(--fontSize-titles_mobile);
        font-weight: 600;
        line-height: 2rem;
        color: var(--lightGold);
    }

    .aboutUs__ourObjetiveParagraph3--paragraph {
        margin-top: 0;
    }

    .aboutUs__ourObjetive--imgDescubreLaBiblia {
        width: 8rem;
        position: relative;
        left: 0.5rem;
    }


    .aboutUs__ourObjetive--imgFooter-mobile {
        display: none;
    }

    .aboutUs__ourObjetive--imgFooterContainer {
        width: 100%;
        height: 20rem;
    }

    .aboutUs__ourObjetive--imgFooterContainer img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media (width >=80rem) {
    .aboutUs__ourObjetive--container {
        width: 40rem;
        margin-top: 7rem;
    }

    .aboutUs__ourObjetive--title {
        width: auto;
        line-height: 2.4rem;
        font-size: var(--fontSize-superTitles_laptop);
    }

    .aboutUs__ourObjetive--paragraph1 {
        font-size: var(--fontSize-paragraph_laptop);
    }

    .aboutUs__ourObjetiveVerse--container {
        margin-top: 7rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .aboutUs__ourObjetive--verse {
        width: 25rem;
        font-size: var(--fontSize-titles_laptop);
    }

    .aboutUs__ourObjetive--paragraph2 {
        width: auto;
        margin-top: 7rem;
        gap: 5rem;
    }

    .aboutUs__ourObjetiveParagraph2--text1 {
        width: 25rem;
        font-size: var(--fontSize-paragraph_laptop);
    }

    .aboutUs__ourObjetiveParagraph2--text2 {
        width: 27rem;
        font-size: var(--fontSize-paragraph_laptop);
    }

    .aboutUs__ourObjetive--photos {
        margin-top: 3rem;
        gap: 3rem;
        font-size: var(--fontSize-paragraph_laptop);
    }

    .aboutUs__ourObjetiveParagraph3--container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .aboutUs__ourObjetiveParagraph3--subcontent {
        display: flex;
        width: 30rem;
        gap: 4rem;
        margin-top: 2rem;
    }

    .aboutUs__ourObjetiveParagraph3--container {
        margin-top: 4rem;
    }

    .aboutUs__ourObjetiveParagraph3--subcontent {
        width: 40rem;
    }

    .aboutUs__ourObjetiveParagraph3--title {
        width: auto;
        font-size: var(--fontSize-titles_laptop);
    }

    .aboutUs__ourObjetiveParagraph3--paragraph {
        font-size: var(--fontSize-paragraph_laptop);
    }

    .aboutUs__ourObjetive--imgDescubreLaBiblia {
        left: -1.5rem;
    }

    .aboutUs__ourObjetive--imgFooter {
        display: block;
        width: 100vw;
    }
}