.aboutUs-container{
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.video-container{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 56.25%;
    width: 100%;
}

.ourObjetive-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 457px;
    width: 100%;
    padding: 100px 200px;
}

.ourObjetive-title{
    display: flex;
    flex-direction: column;
    color: #4ea3b2;
    font-size: 47px;
    font-weight: 200;
    height: 250px;
}

.ourObjetive-textOur{
    position: relative;
    font-weight: 500;
    top:12px
}

.ourObjetive-textObjective{
    position: relative;
    font-weight: 800;
    bottom: 12px;
}

.ourObjetive-paragraph{
    margin-left: 140px;
    height: 250px;
    width: 400px;
}

.ourObjetive-text1{
    font-size: 15px;
    text-align: justify;
    color: #303f4d;
    letter-spacing: 2px;
    line-height: 24px;
}

.ourObjetive-verse_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 626px;
}

.ourObjetive-bible_background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://static.wixstatic.com/media/b812fcf3f9424a55bd227b8e7dc3ec23.jpg/v1/fill/w_980,h_626,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b812fcf3f9424a55bd227b8e7dc3ec23.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
}

.ourObjetive-quote{
    position: relative;
    margin-top: 165px;
    margin-left: 240px;
    color: #8d8d8d;
    font-size: 151px;
}

.ourObjetive-verse{
    position: relative;
    margin-top: 200px;
    margin-left: 40px;
    color: #8d8d8d;
    font-size: 35px;
    width: 440px;
}

.ourObjetive-verse b{
    font-weight: 800;
}

.ourObjetive-paragraph2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.ourObjetive-paragraph2_text1{
    margin-right: 19.5px;
    margin-top: 221px;
    line-height: 22.4px;
    font-size: 14px;
    text-align: justify;
    color: #2f2e2e;
    width: 344px;
    height: 280px;
    word-spacing: 4px;
}

.ourObjetive-paragraph2_text2{
    margin-top: 200px;
    margin-left: 19.5px;
    border: #dadada solid 1px;
    border-radius: 30px;
    padding: 43px 38px 52px 33px;
    line-height: 22.4px;
    font-size: 14px;
    text-align: justify;
    color: #2f2e2e;
    width: 415px;
    word-spacing: 4px;
}

.ourObjetive-photos{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 12px;
    /* margin-bottom: 100px; */
}

.ourObjetive-photos > div {
    margin: 0 20px;
    text-align: center;
}

.ourObjetice-photos_lincolns{
    border-radius:  63% 37% 41% 59% / 63% 62% 38% 37%;
    margin-bottom: 15px;
}

.ourObjetice-text_photo{
    text-align: center;
}

.ourObjetice-photos_abigail{
    border-radius:51% 49% 51% 49% / 59% 71% 29% 41%;
    margin-bottom: 15px;
}

.ourObjetice-photos_danielaLopez{
    border-radius:59% 41% 70% 30% / 44% 71% 29% 56%;
    margin-bottom: 15px;
}

.ourObjetive-paragraph3{
    margin-top: 100px;
    background-color: rgb(50, 121, 184);
    width: 100%;
}

.ourObjetive-paragraph3_container{
    display: flex;
    justify-content: center;
    padding: 140px 0px 30px 0px;
    background-color: #f8f8f8;
}

.ourObjetive-paragraph3_text1{
    display: flex;
    flex-direction: column; 
    width: 15%;
}

.ourObjetive-textMinistries{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: #c7bb9f;
}

.ourObjetive-textAssociates{
    font-size: 30px;
    line-height: 30px;
    color: #c7bb9f;
    font-weight: 550;
}

.ourObjetive-paragraph3_text2{
    width: 350px;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    word-spacing: 4px;
}

.ourObjetive-paragraph3_text2 span{
    word-spacing: 1px;
}

.ourObjetive-imagenFooter_container img{
    width: 100%;
    height: 245px;
}

@media (width >= 20rem){

}

@media (width >= 48rem){

}

@media (width >= 64rem){
    
}