.verseToVerse__background--banner {
  height: 38rem;
  margin-top: 4.5rem;
  display: flex;
  background-image: linear-gradient(360deg,
      rgb(96, 184, 189),
      rgba(96, 184, 189, 0.821)),
    url("/verseByVerse/imageBanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.verseToVerse__container--banner {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.verseToVerse__doubleQuotation--banner {
  display: none;
}

.verseToVerse__title--banner {
  width: 14rem;
  font-size: var(--fontSize-superTitles_mobile);
  color: var(--white);
  font-style: italic;
}

.verseToVerse__paragraph--banner {
  margin-top: 0.5rem;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--white);
}

.verseToVerse__line--banner {
  width: 6.5rem;
  height: 0.25rem;
  margin-top: 1rem;
  background-color: var(--white);
}

.verseToVerse__container--studiesVerse {
  width: 18rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.verseToVerse__title--studiesVerse {
  font-size: var(--fontSize-titles_mobile);
  color: var(--greenDesafiante);
}

.verseToVerse__line--studiesVerse {
  width: 12rem;
  height: 0.25rem;
  margin-top: 0.5rem;
  background-color: var(--grayGradient);
}

.verseToVerse__paragraph--studiesVerse {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  font-size: var(--fontSize-paragraph_mobile);
}

.verseToVerse__paragraph--studiesVerse span:nth-child(1) {
  font-style: italic;
}

.verseToVerse__paragraph--studiesVerse span:nth-child(2) {
  font-style: italic;
  font-weight: bold;
}

.verseToVerse__background--videosStudiesVerse {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--lightGray);
  display: flex;
}

.verseToVerse__content--videosStudiesVerse {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.verseToVerse__image--videosStudiesVerse {
  width: 18rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
}

.verseToVerse__image--videosStudiesVerse:hover {
  transform: var(--transform);
}

@media (width >=48rem) {
  .verseToVerse__background--banner {
    height: 28rem;
  }

  .verseToVerse__container--banner {
    flex-direction: row;
    gap: 2rem;
  }

  .verseToVerse__doubleQuotation--banner {
    display: block;
    margin-top: -8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10rem;
    color: var(--white);
  }

  .verseToVerse__content--banner {
    gap: 0.5rem;
  }

  .verseToVerse__title--banner {
    width: 25rem;
    font-size: var(--fontSize-superTitles_tablet);
  }

  .verseToVerse__container--studiesVerse {
    width: 25rem;
  }

  .verseToVerse__title--studiesVerse {
    font-size: var(--fontSize-titles_tablet);
  }

  .verseToVerse__line--studiesVerse {
    width: 13rem;
  }

  .verseToVerse__content--videosStudiesVerse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (width >=80rem) {
  .verseToVerse__background--banner {
    height: 35rem;
  }

  .verseToVerse__container--banner {
    gap: 5rem;
  }

  .verseToVerse__doubleQuotation--banner {
    margin-top: 0;
    font-size: 15rem;
  }

  .verseToVerse__content--banner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  }

  .verseToVerse__content--info-banner {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .verseToVerse__paragraph--banner {
    margin-top: 0;
  }

  .verseToVerse__line--banner {
    width: 3rem;
    height: 0.15rem;
    margin-top: 0;
  }

  .verseToVerse__container--studiesVerse {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .verseToVerse__title--studiesVerse {
    width: 17rem;
    font-size: var(--fontSize-titles_laptop);
  }

  .verseToVerse__line--studiesVerse {
    width: 5rem;
  }

  .verseToVerse__paragraph--studiesVerse {
    width: 25rem;
    margin-top: 0;
    font-size: var(--fontSize-paragraph_laptop);
  }

  .verseToVerse__background--videosStudiesVerse {
    margin-top: 8rem;
  }

  .verseToVerse__content--videosStudiesVerse {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}