.learningPath-container {
  padding-bottom: 4rem;
}

.classRoomRoute-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

@media (width >=64rem) {
  .learningPath-container {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .classRoomRoute-container {
    width: 8rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    background-color: var(--turquoise);
    overflow-y: scroll;
    gap: 0rem;
  }

  .classRoomRoute-container::-webkit-scrollbar {
    display: none;
  }
}

@media (width >=75rem) {
  .classRoomRoute-container {
    width: 10rem;
    padding-left: 6rem;
  }
}
