.learningPath-container {
  margin-bottom: 4rem;
  background-image: url(https://i.imgur.com/UQqp7LT.png);
}

.classRoomRoute-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

@media (width >=64rem) {
  .learningPath-container {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-size: 100% 100%;
    margin-bottom: 0;
  }

  .classRoomRoute-container {
    width: 8rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    background-color: var(--turquoise);
    overflow-y: scroll;
    gap: 0rem;
  }

  .classRoomRoute-container::-webkit-scrollbar {
    display: none;
  }
}