.icons-arrows {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

@media (width >=48rem) {
  .icons-arrows {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (width >=64rem) {
  .icons-arrows {
    width: 3.5rem;
    height: 3.5rem;
  }
}
