.form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, #29384be6, #29384be6),
    url("https://i.imgur.com/giBenIE.png");
  background-size: cover;
  padding-bottom: 2rem;
}

.form-register-title {
  width: 15rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: var(--fontSize-superTitles_mobile);
}

.form-register-title_register {
  width: 15rem;
}

.form-register_loginRedirection {
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--gray);
  font-size: var(--fontSize-paragraph_mobile);
}

.form-register_loginRedirection:hover {
  text-decoration: underline;
  color: var(--turquoise);
}

.form-register-btn {
  width: 8rem;
  margin-top: 0.8rem;
  color: var(--white);
  background-color: var(--turquoise);
}

.form-register-btn:hover {
  font-weight: bold;
  color: var(--turquoise);
  background-color: var(--white);
}

@media (min-width: 38rem) {
  .form-register-title {
    font-size: var(--fontSize-superTitles_tablet);
  }
}

@media (min-width: 64rem) {
  .form-register {
    height: 100vh;
  }

  .form-register-title {
    width: 22rem;
    font-size: var(--fontSize-superTitles_laptop);
  }

  .continer-label_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form-register_loginRedirection {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .form-register-btn {
    width: 10rem;
    font-size: var(--fontSize-buttons_laptop);
  }
}