.register-form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, #29384be6, #29384be6),
    url("https://i.imgur.com/giBenIE.png");
  background-size: cover;
  padding-bottom: 2rem;
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-passwordInputs {
  height: calc(100vh - 3.75rem);
  margin-top: 3.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.register-form-passwordTitle {
  color: var(--white);
  font-size: var(--fontSize-superTitles_mobile);
  margin-bottom: 2rem;
}

.register-form_infoInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form-infoTitle {
  width: 15rem;
  text-align: center;
  align-self: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: var(--fontSize-superTitles_mobile);
}

.register-form_loginRedirection {
  text-align: center;
  align-self: center;
  margin: 1.5rem 0 1.5rem 0;
  text-decoration: none;
  color: var(--grayGradient);
  font-size: var(--fontSize-paragraph_mobile);
}

.register-form_loginRedirection:hover {
  text-decoration: underline;
  color: var(--turquoise);
}

.register-form_loginRedirection_buttonDisabled {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  color: var(--darkGrayGradient);
  background-color: var(--grayGradient);
}

.register-form_loginRedirection_buttonDisabled:hover {
  transform: none;
}

.register-form_loginRedirection_buttonEnabled {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--turquoise);
}

.register-form_loginRedirection_buttonEnabled:hover {
  color: var(--turquoise);
  background-color: var(--white);
}

.register-backButtonFormRegister {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--white);
  font-size: var(--fontSize-buttons_mobile);
  transition: var(--transition);
  background-color: transparent;
  border:none;
  cursor: pointer;
}

.register-backButtonFormRegister:hover {
  color: var(--turquoise);
}

.register-containerBackButtonFormRegister{
  display: flex;
  justify-content: flex-start;
  width: 100%; 
  margin-bottom: 1rem;
}

@media (width >=38rem) {

  .register-form-passwordTitle,
  .register-form-infoTitle {
    font-size: var(--fontSize-superTitles_tablet);
  }
}

@media (width >=64rem) {

  .register-form-passwordTitle,
  .register-form-infoTitle {
    font-size: var(--fontSize-superTitles_laptop);
  }

  .register-form-infoTitle {
    width: 25.75rem;
  }

  .register-form_loginRedirection {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .register-form_loginRedirection_buttonDisabled,
  .register-form_loginRedirection_buttonEnabled {
    display: flex;
    align-items: center;
    width: 4rem;
    height: 4rem;
  }

  .register-backButtonFormRegister{
    font-size: var(--fontSize-paragraph_laptop);
  }
}