.input-container_inputLabel {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6rem;
  margin-top: 0.8rem;
}

.password-toggle_button {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.input-input:not(:placeholder-shown)+.input-label,
.input-input:focus+.input-label {
  transform: translateY(-1.9rem);
  transition: var(--transition);
}

.input-label.active {
  transform: translateY(-2.1rem);
  padding-left: 0rem;
  font-size: var(--fontSize-paragraph_mobile);
}

.input-label {
  position: absolute;
  left: 0.5rem;
  padding: 0.6rem;
  font-size: var(--fontSize-paragraph_mobile);
  transition: var(--transition);
}

.input-input {
  width: 18rem;
  padding: 0.6rem;
  border: none;
  border-radius: var(--borderRadius);
  outline: none;
  background-color: transparent;
  font-family: var(--primaryFont);
  font-size: var(--fontSize-paragraph_mobile);
}

.input-input:not(:placeholder-shown)+.input-label,
.input-input:focus+.input-label,
.input-input:not(:placeholder-shown)+.input-label.active {
  padding-left: 0;
  font-size: var(--fontSize-paragraph_mobile);
  transform: translateY(-2.1rem);
  transition: var(--transition);
}

.input-input:focus+.input-label {
  padding-left: 0rem;
  font-size: var(--fontSize-subtitles_mobile);
  transform: translateY(-2.1rem);
}

.input-input:not(:placeholder-shown)+.input-label {
  transform: translateY(-1.9rem);
  transition: var(--transition);
}

@media (width >=38rem) {
  .input-input {
    width: 20rem;
  }
}

@media (width >=64rem) {
  .input-label {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .input-input {
    width: 28rem;
    font-size: var(--fontSize-paragraph_laptop);
  }

  .input-input:focus+.input-label {
    font-size: var(--fontSize-trasitionLabel_laptop);
  }

  .input-input:not(:placeholder-shown)+.input-label {
    transform: translateY(-2.1rem);
  }
}