.form-input-container_inLa {
  position: relative;
  padding: 0.6rem;
  margin-top: 0.8rem;
}

.form-input_label {
  position: absolute;
  padding: 0.6rem;
  left: 0.5rem;
  color: var(--gray);
  font-size: var(--fontSize-paragraph_mobile);
  transition: var(--transition);
}

.form-input_input {
  width: 17rem;
  padding: 0.6rem;
  border: none;
  border-radius: var(--borderRadius);
  outline: var(--border) var(--turquoise);
  background-color: transparent;
  font-family: var(--primaryFont);
  font-size: var(--fontSize-paragraph_mobile);
}

.form-input_input:focus + .form-input_label {
  transform: translateY(-2.1rem);
  padding-left: 0rem;
  font-size: var(--fontSize-subtitles_mobile);
}

.form-input_input:not(:placeholder-shown) + .form-input_label {
  transform: translateY(-1.9rem);
  transition: var(--transition);
}

@media (min-width: 38rem) {
  .form-input_input {
    width: 20rem;
  }
}

@media (min-width: 64rem) {
  .form-input_label{
    font-size: var(--fontSize-paragraph_laptop);
  }

  .form-input_input {
    width: 28rem;
    font-size: var(--fontSize-paragraph_laptop);
  }

  .form-input_input:focus + .form-input_label {
    font-size: var(--fontSize-trasitionLabel_laptop);
  }

  .form-input_input:not(:placeholder-shown) + .form-input_label {
    transform: translateY(-2.1rem);
  }
}
