.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found_img {
  width: 19rem;
}

.not-found_paragraph {
  width: 15rem;
  font-size: var(--fontSize-titles_mobile);
  margin-bottom: 1.5rem;
}

.not-found_paragraph span {
  color: var(--darkGreen);
  font-size: var(--fontSize-superTitles_mobile);
  font-weight: bold;
}

.not-found_linkHome {
  width: 15rem;
  display: flex;
  align-items: center;
  padding-left: 3.9rem;
  border-radius: var(--borderRadius);
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--white);
  background-color: var(--darkGreen);
  transition: var(--transition);
}

.not-found_linkHome:hover {
  font-weight: bold;
  color: var(--black);
  background-color: var(--yellow);
  transform: var(--transform);
}

@media (width >=48rem) {
  .not-found_linkHome {
    padding-left: 3.6rem;
  }
}

@media (width >=64rem) {
  .not-found_img {
    width: 25rem;
  }

  .not-found_paragraph {
    width: 16rem;
    font-size: var(--fontSize-titles_tablet);
  }

  .not-found_paragraph span {
    font-size: var(--fontSize-superTitles_tablet);
  }

  .not-found_linkHome {
    width: 16rem;
    padding-left: 2.85rem;
    font-size: 1.4rem;
  }
}

@media (width >=100rem) {
  .not-found_img {
    width: 30rem;
  }
}