.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.icon-404 {
  width: 15.625rem;
  height: 12.5rem;
  overflow-x: hidden;
}

.text-notFound {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--darkGreen);
}

.paragraf-notFound {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.link-home_notFound {
  color: var(--darkBlue);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}

.link-home_notFound:hover {
  color: var(--turquoise);
}

@media (width >=45rem) {
  .icon-404 {
    width: 23.75rem;
    height: 23.75rem;
  }

  /* .continer-text-notFound {
    margin-top: -3.75rem;
  } */
}