.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found_img {
  width: 19rem;
}

.not-found_paragraph {
  width: 15rem;
  font-size: var(--fontSize-titles_mobile);
  margin-bottom: 1.5rem;
}

.not-found_paragraph span {
  color: var(--darkGreen);
  font-weight: bold;
  font-size: var(--fontSize-superTitles_mobile);
}

.not-found_button_LinkHome {
  background-color: var(--darkGray);
}

.not-found_button_LinkHome:hover {
  background-color: var(--darkGreen);
}

.not-found_linkHome {
  font-size: var(--fontSize-subtitles_mobile);
  color: var(--white);
  text-decoration: none;
}

@media (width >=64rem) {
  .not-found_img {
    width: 25rem;
  }

  .not-found_paragraph {
    width: 16rem;
    font-size: var(--fontSize-titles_tablet);
  }

  .not-found_paragraph span {
    font-size: var(--fontSize-superTitles_tablet);
  }
}

@media (width >=100rem) {
  .not-found_img {
    width: 30rem;
  }
}