.footer {
  width: 100%;
  height: 100%;
  background-color: var(--turquoise);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: var(--white);
  font-size: var(--fontSize-titles_mobile);
  margin-bottom: 0.625rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-paragraph {
  color: var(--white);
  font-size: var(--fontSize-paragraph_mobile);
  text-align: center;
}

.footer-paragraph > span {
  font-weight: bold;
}

.footer-soclialNetworks{
  margin-top: 1rem;
  display: flex;
}

.footer-middleIcon {
  margin-right: 0.5rem;
}

.footer-paragraph_italic {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: var(--fontSize-paragraph_mobile);
}
