.assessment__container--finished{
    position: relative;
}

.assessment__content--image{
    margin-top: 220px;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.assessment__image{
    width: 300px;
}

.assessment__content--result{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.assessment__result{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
}

.assessment__content--button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.assessment__button{
    width: 150px;
    height: 40px;
    color: var(--darkBlue);
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #e4e4e4;
    border-radius: 0.875rem;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.assessment__button:hover{
    background-color: #FAD047;
}