.sukatDavid__container {
  margin-top: 4.5rem;
}

.sukatDavid__info--imgBackground {
  height: 25rem;
  background-image: linear-gradient(0deg, #f1f1f1ec, #f1f1f1ec), url("https://firebasestorage.googleapis.com/v0/b/sukatdavid-d0ff8.appspot.com/o/nsplsh_a02ff8f66062413ea883b651ac393d61~mv2.webp?alt=media&token=0ea610ca-d8e6-42fe-b69f-097d824c0855");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sukatDavid__info--title {
  width: 6rem;
  font-size: var(--fontSize-superTitles_mobile);
  color: var(--turquoise);
}

.sukatDavid__info--description {
  width: 15rem;
  margin-top: 1rem;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
  line-height: 1.3rem;
}

.sukatDavid__festivities {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--turquoise);
}

.sukatDavid__festivities--title {
  font-size: var(--fontSize-subtitles_mobile);
  color: var(--white);
}

.sukatDavid__festivities--buttonContainer {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.sukatDavid__festivities--button {
  width: 17rem;
  height: 2.5rem;
  background-color: var(--white);
  border: var(--greenDesafiante) var(--border);
  border-radius: var(--borderRadius);
  color: var(--greenDesafiante);
}

.sukatDavid__festivities--button:hover {
  font-weight: bold;
  background-color: var(--greenDesafiante);
  color: var(--white);
}

.sukatDavid__schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.sukatDavid__schedule--container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid var(--gray);
}

.sukatDavid__schedule--hoursContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--darkGray);
}

.sukatDavid__schedule--hour {
  font-size: var(--fontSize-superTitles_mobile);
}

.sukatDavid__schedule--text {
  margin-top: 0.3rem;
  font-size: 0.7rem;
}

.sukatDavid__networks--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.sukatDavid__networksButton-link {
  text-decoration: none;
}

.sukatDavid__networksButton--whatsapp,
.sukatDavid__networksButton--telegram {
  width: 15rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sukatDavid__networksButton--whatsapp {
  background-color: #25D366;
  color: var(--white);
}

.sukatDavid__networksButton--whatsapp:hover {
  background-color: #71ec9f;
}

.sukatDavid__networksButton--whatsAppIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--white);
}

.sukatDavid__networksButton--telegram {
  background-color: #24A1DE;
  color: var(--white);
}

.sukatDavid__networksButton--telegram:hover {
  background-color: #82caee;
}

.sukatDavid__networksButton--telegram-iconContainer {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: var(--border) var(--white);
  background-color: var(--white);
}

.sukatDavid__networksButton--telegramIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: #24A1DE;
}

.sukatDavid__networksButton--telegram:hover .sukatDavid__networksButton--telegramIcon {
  color: #82caee;
}

.sukatDavid__books--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.sukatDavid__books--img {
  width: 18rem;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.sukatDavid__books--img:hover {
  transform: var(--transform);
}

@media (width >=48rem) {
  .sukatDavid__info--title {
    width: 15rem;
    font-size: var(--fontSize-superTitles_tablet);
  }

  .sukatDavid__info--description {
    width: 18rem;
  }

  .sukatDavid__festivities--title {
    font-size: var(--fontSize-subtitles_tablet);
  }

  .sukatDavid__festivities--button {
    width: 19rem;
  }

  .sukatDavid__schedule--hour {
    font-size: var(--fontSize-superTitles_tablet);
  }

  .sukatDavid__networksButton--whatsapp,
  .sukatDavid__networksButton--telegram {
    width: 17rem;
  }

  .sukatDavid__books--img {
    width: 25rem;
  }
}

@media (width >=80rem) {
  .sukatDavid__info--imgBackground {
    height: 35rem;
  }

  .sukatDavid__info--title {
    width: 21rem;
    font-size: var(--fontSize-superTitles_laptop);
  }

  .sukatDavid__info--description {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .sukatDavid__festivities {
    flex-direction: row;
  }

  .sukatDavid__festivities--title {
    margin-bottom: 0rem;
    font-size: var(--fontSize-subtitles_laptop);
  }

  .sukatDavid__festivities--buttonContainer {
    flex-direction: row;
    margin-top: 0;
    margin-left: 3rem;
    gap: 1rem;
  }

  .sukatDavid__festivities--button {
    width: 20rem;
  }

  .sukatDavid__schedule {
    width: 70rem;
    height: 13rem;
    margin: 0 auto;
    flex-direction: row;
    border-bottom: 0.1rem solid var(--gray);
  }

  .sukatDavid__schedule--container {
    margin: 0;
    padding-bottom: 0rem;
    border-bottom: none;
  }

  .sukatDavid__schedule--hour {
    font-size: 2.5rem;
  }

  .sukatDavid__networks--container {
    margin-top: 0rem;
    margin-left: 4rem;
  }

  .sukatDavid__networksButton--whatsapp,
  .sukatDavid__networksButton--telegram {
    width: 19rem;
    height: 2.8rem;
  }

  .sukatDavid__networksButton--whatsAppIcon,
  .sukatDavid__networksButton--telegramIcon,
  .sukatDavid__networksButton--telegram-iconContainer {
    width: 1.8rem;
    height: 1.8rem;
  }

  .sukatDavid__books--container {
    margin: 3rem 2rem;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .sukatDavid__books--img {
    width: 30rem;
  }
}