.path-container {
  background-image: url(https://i.imgur.com/PSLqcjG.png);
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.path-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.path-border {
  width: 3.7rem;
  height: 3.7rem;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 0.1rem #eaeaea;
  transition: 400ms;
}

.path-border:hover {
  transform: scale(1.2);
}

.path-img_flag {
  position: absolute;
  width: 3rem;
}

.flag-start {
  left: 1.2rem;
  top: -2.5rem;
}

.flag-end {
  left: 1.1rem;
  top: -2.6rem;
}

.path-learningPath {
  width: 100%;
  height: 100%;
  border: solid 0.3rem var(--white);
  border-radius: 50%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 400ms;
}

.icon-lock {
  color: var(--darkGray);
  padding: 0.1rem;
}

.path-CourseTitle {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--darkGray);
}

@media (min-width: 48rem) {
  .path-container {
    padding-left: 5.625rem;
  }

  .path-content {
    row-gap: 5rem;
    column-gap: 3rem;
    grid-template-columns: repeat(4, 8rem);
  }

  .path-border {
    width: 5.625rem;
    height: 5.625rem;
  }

  .path-learningPath {
    border: solid 0.5rem var(--white);
  }

  .path-img_flag {
    width: 4rem;
  }

  .flag-start {
    left: 2rem;
    top: -3.3rem;
  }

  .flag-end {
    left: 1.8rem;
    top: -3.4rem;
  }
}

@media (min-width: 64rem) {
  .path-content {
    row-gap: 5rem;
    column-gap: 8rem;
  }

  .path-border {
    width: 6.25rem;
    height: 6.25rem;
  }

  .path-img_flag {
    width: 5rem;
  }

  .flag-start {
    left: 2.2rem;
    top: -4.2rem;
  }

  .flag-end {
    left: 2rem;
    top: -4.3rem;
  }
}
