.resourcesAndVerses-container {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: var(--turquoise);
}

.resourcesAndVerses-bibleVerseContainerA {
  max-width: 85%;
  margin: 0 auto;
}

.resourcesAndVerses-bibleVerseContainerA_verse {
  color: var(--white);
  font-size: var(--fontSize-subtitles_mobile);
}

.resourcesAndVerses-bibleVerseContainerA_verseIndex {
  margin-top: 0.5rem;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--white);
}

.resourcesAndVerses-bibleVerseContainerB {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: 0rem 0rem 0.3rem 0.3rem #7b7b7b33;
}

.resourcesAndVerses-bibleVerseContainerB_verse {
  color: var(--darkBlue);
  font-size: var(--fontSize-paragraph_mobile);
}

.resourcesAndVerses-bibleVerseContainerB_verseIndex {
  margin-top: 0.5rem;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
}

.resourcesAndVerses-playerListLink {
  text-decoration: none;
}

.resourcesAndVerses-playerListContainer {
  max-width: 85%;
  height: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: var(--borderRadius);
  background-color: var(--darkBlue-content);
  box-shadow: 0rem 0rem 0.3rem 0.3rem #7b7b7b33;
}

.resourcesAndVerses-playerListContainer_text {
  color: var(--white);
  font-size: var(--fontSize-paragraph_mobile);
  transition: var(--transition);
}

.resourcesAndVerses-playerListContainer_text span {
  font-weight: 900;
}

.resourcesAndVerses-playerListContainer_text:hover {
  color: var(--turquoise);
  transform: var(--transform);
}

.resourcesAndVerses-playerListContainer_child {
  display: flex;
  align-items: center;
}

.resourcesAndVerses-playerListContainer_playBtn {
  display: flex;
  margin-left: 0.5rem;
  border: none;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.resourcesAndVerses-playerListContainer_playBtn:hover {
  color: var(--turquoise);
  transform: var(--transform);
}

.resourcesAndVerses-playerListContainer_playBtnIcon {
  width: 1.8rem;
  height: 1.8rem;
}

@media (width >=48rem) {
  .resourcesAndVerses-container {
    min-width: 21rem;
    min-height: 100vh;
    padding-bottom: 0;
  }

  .resourcesAndVerses-bibleVerseContainerA_verse {
    font-size: var(--fontSize-subtitles_tablet);
  }
}

@media (width >=64rem) {
  .resourcesAndVerses-container {
    min-width: 23rem;
  }

  .resourcesAndVerses-bibleVerseContainerA_verse {
    font-size: var(--fontSize-subtitles_laptop);
  }

  .resourcesAndVerses-bibleVerseContainerB_verse {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .resourcesAndVerses-playerListContainer {
    height: 5rem;
  }

  .resourcesAndVerses-playerListContainer_text {
    font-size: var(--fontSize-paragraph_laptop);
  }
}

@media (width >=75rem) {
  .resourcesAndVerses-container {
    max-width: 28rem;
  }
}