.home-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  font-family: var(--primaryFont);
}

.welcome-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #6e71767f, rgba(188, 191, 195, 0.44)),
    url("/homePage/homepage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.home-title {
  color: var(--white);
  font-size: var(--fontSize-superTitles_mobile);
  font-weight: bold;
  margin-bottom: 0.625rem;
  text-align: center;
}

.welcome-home > .action-button {
  background-color: transparent;
  color: var(--white);
  font-size: var(--fontSize-buttons_mobile);
  border: solid 0.063rem var(--white);
  border-radius: 0.625rem;
}

.welcome-home > .content-items_down {
  width: 100vw;
  position: absolute;
  bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-around;
}
.soclialNetworks {
  display: flex;
  gap: 0.8rem;
}

.middle-icon{
  margin-right: 0.5rem;
}

.text-down {
  color: var(--white);
  text-align: center;
  font-size: var(--fontSize-paragraph_mobile);
}

/* section 2 */

.container-sectionTwo {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-sectionTwo {
  font-size: var(--fontSize-titles_mobile);
  color: var(--greenDesafiante);
  text-align: center;
  margin-bottom: 3rem;
}

.main-paragraph_sectionTwo{
  width: 300px;
  text-align: center;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
  margin-bottom: 3rem;
}

.bold-paragraph {
  font-weight: bold;
}

.step-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.step-items {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  gap: 1.2rem;
}

.step-number {
  width: auto;
  text-align: start;
  font-size: var(--fontSize-superTitles_mobile);
  font-weight: bold;
}

.step-items:nth-child(1) .step-number {
  color: var(--greenDesafiante);
}

.step-items:nth-child(2) .step-number {
  color: var(--yellow);
}

.step-items:nth-child(3) .step-number {
  color: var(--darkGreen);
}

.step-title {
  font-size: var(--fontSize-superTitles_mobile);
  color: rgba(96, 94, 94, 1);
  text-align: start;
}

.step-title > .reverse-word{
  font-weight: bold;
  display: inline-block;
  transform: rotate(180deg);
}

.biblical-step {
  color: var(--darkBlue-content);
}

.bePart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.title-bePart {
  font-size: var(--fontSize-titles_mobile);
  font-weight: bold;
  color: var(--darkGray);
}

.items-content_bePart {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.image-bePart {
  border-radius: 1rem;
  cursor: pointer;
}

.schedules-last_topics {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, #353434d1, rgba(85, 86, 87, 0.928)),
    url("/homePage/background-times.webp");
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.schedule-container_latestTopics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-sukatDavid_schedules {
  border-radius: 1rem;
  cursor: pointer;
}

.container-lastStudy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-schedules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-schedules_lastTopic {
  margin-bottom: 1rem;
  font-size: var(--fontSize-titles_mobile);
}

.link-session-schedules {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.link-course_section {
  width: 90%;
  margin-bottom: 5rem;
  text-decoration: none;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 2rem;
}

.latest-study {
  width: 100%;
  border-radius: 1rem;
}

@media (width >= 38rem) {
  .home-title {
    font-size: var(--fontSize-superTitles_tablet);
    margin-bottom: 1rem;
  }

  .welcome-home > .action-button {
    font-size: var(--fontSize-buttons_tablet);
  }

  .welcome-home > .content-items_down {
    bottom: 4rem;
    gap: 1rem;
  }

  .text-down {
    font-size: var(--fontSize-paragraph_table);
  }

  .title-sectionTwo {
    font-size: var(--fontSize-titles_tablet);
  }

  .main-paragraph_sectionTwo{
    width: 500px;
    font-size: var(--fontSize-paragraph_tablet);
    margin-bottom: 3.2rem;
  }

  .step-items {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .items-content_bePart {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .title-bePart {
    font-size: var(--fontSize-titles_tablet);
  }

  .image-bePart {
    width: 15rem;
    transition: all 300ms;
  }

  .image-bePart:hover {
    transform: scale(1.15);
  }

  .image-sukatDavid_schedules {
    width: 15rem;
  }

  .content-schedules {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .title-schedules_lastTopic {
    margin-bottom: 1rem;
    font-size: var(--fontSize-titles_tablet);
  }

  .container-lastStudy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link-last-course {
    width: 60%;
  }

  .latest-study {
    width: 100%;
    border-radius: 1rem;
  }
}

@media (width >= 64rem) {
  .home-title {
    font-size: var(--fontSize-superTitles_laptop);
    margin-bottom: 1.5rem;
  }

  .welcome-home > .action-button {
    font-size: var(--fontSize-buttons_laptop);
  }

  .welcome-home > .action-button:hover {
    font-size: var(--fontSize-buttons_laptop);
    background-color: var(--greenDesafiante);
    color: var(--white);
    border: solid 0.063rem var(--greenDesafiante);
    border-radius: 0.625rem;
  }

  .text-down {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .title-sectionTwo {
    font-size: var(--fontSize-titles_laptop);
  }

  .main-paragraph_sectionTwo{
    width: 450px;
    font-size: var(--fontSize-paragraph_desktop);
    margin-bottom: 4rem;
  }

  .step-container {
    width: 50%;
    flex-direction: row;
  }

  .step-items {
    flex-direction: column;
  }

  .step-title {
    width: 200px;
  }

  .items-content_bePart {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-bePart {
    font-size: var(--fontSize-titles_laptop);
  }

  .image-bePart {
    width: 18rem;
  }

  .content-schedules {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .schedule-container_latestTopics {
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4rem;
  }

  .title-schedules_lastTopic {
    margin-bottom: 2rem;
    text-align: start;
    font-size: var(--fontSize-titles_desktop);
  }

  .span-title_shedules {
    font-weight: normal;
  }
  .link-session-schedules {
    width: auto;
    align-content: center;
    margin-bottom: 0;
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-weight: bold;
  }

  .image-sukatDavid_schedules {
    height: 400px;
    width: auto;
    margin-top: 0px;
    align-content: center;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    transition: all 300ms;
  }

  .image-sukatDavid_schedules:hover {
    transform: scale(1.1);
  }

  .link-course_section {
    width: auto;
    align-content: center;
    margin-bottom: 0;
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-weight: bold;
  }

  .latest-study {
    height: 400px;
    width: 700px;
    object-fit: cover;
    border-radius: 15px;
    transition: all 300ms;
  }

  .latest-study:hover {
    transform: scale(1.1);
  }
}
