.home-welcome {
  position: relative;
  height: 42rem;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #6e71767f, #bcbfc370);
  z-index: 1;
}

.home-title {
  width: 20rem;
  text-align: center;
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: var(--white);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 15rem;
  font-size: var(--fontSize-superTitles_mobile);
}

.home-welcome > .home-button_action {
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: var(--border) var(--white);
}

.home-link-button_action {
  text-decoration: none;
  color: var(--white);
}

.home-welcome > .home-button_action:hover {
  backdrop-filter: blur(0.3rem);
}

.home-socialNetworks_down a {
  margin: 0 0.5rem;
}
.home-welcome > .home-content_itemsDown {
  position: relative;
  z-index: 2;
  display: flex;
  margin-top: 14rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
}

.home-sutbtitle_down {
  color: var(--white);
  text-align: center;
  font-size: var(--fontSize-paragraph_mobile);
}

.home-socialNetworks_down {
  display: flex;
  gap: 0.8rem;
}

.home-icon_middleDown {
  margin-right: 0.5rem;
}

.home-container_challenging {
  width: 18rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title_challenging {
  text-align: center;
  font-size: var(--fontSize-titles_mobile);
  color: var(--greenDesafiante);
}

.home-mainParagraph_challenging {
  margin-top: 3rem;
  text-align: center;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
}

.home-paragraphBold_challenging {
  font-weight: bold;
}

.home-container-stepr {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.home-items_step {
  width: 14.5rem;
  display: flex;
  margin-bottom: 3rem;
  gap: 1.2rem;
}

.home-step_number {
  width: auto;
  text-align: start;
  font-size: var(--fontSize-superTitles_mobile);
  font-weight: bold;
}

.home-items_step:nth-child(1) .home-step_number {
  color: var(--greenDesafiante);
}

.home-items_step:nth-child(2) .home-step_number {
  color: var(--yellow);
}

.home-items_step:nth-child(3) .home-step_number {
  color: var(--darkGreen);
}

.home-title_step {
  text-align: start;
  font-size: var(--fontSize-superTitles_mobile);
  color: #605e5e;
}

.home-title_step > .home-title_reverseWord {
  display: inline-block;
  font-weight: bold;
  transform: rotate(180deg);
}

.home-biblica_step {
  color: var(--darkBlue-content);
}

.home-biblicaNumber_step {
  margin-top: 0.8rem;
  font-style: italic;
}

.home-container_bePart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  background-color: #f7f5f5;
}

.home-title_bePart {
  font-size: var(--fontSize-titles_mobile);
  font-weight: bold;
  color: var(--darkGray);
}

.home-content_itemsBePart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.home-image_bePart {
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
  width: 17.375rem;
  height: auto;
}

.home-image_bePart:hover {
  transform: var(--transform);
}

.home-container_shedulesLast {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  height: auto;
  overflow: hidden;
}

.overlay__shedulesLast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #353434c3, #555657);
  z-index: 1;
}

.home-session_linkSchedules {
  position: relative;
  text-decoration: none;
  text-align: center;
  z-index: 2;
}

.home-title_shedulesLast {
  margin: 2rem 0;
  font-size: var(--fontSize-titles_mobile);
  color: var(--white);
  z-index: 2;
}

.home-spanTitle_shedules {
  font-weight: normal;
}

.home-image-sukatDavid,
.home-image_latestStudy {
  width: 17rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
  position: relative;
}

.home-session_linkSchedules > .home-image-sukatDavid{
  height: 32rem;
}

.image-wrapper {
  width: 17rem; 
  height: auto; 
}

.home-image-sukatDavid:hover,
.home-image_latestStudy:hover {
  transform: var(--transform);
}

@media (width >=48rem) {
  .home-title {
    font-size: var(--fontSize-superTitles_tablet);
    margin-bottom: 1rem;
  }

  .home-welcome > .home-content_itemsDown {
    margin-top: 13rem;
  }

  .home-container_challenging {
    width: auto;
  }

  .home-title_challenging {
    font-size: var(--fontSize-titles_tablet);
  }

  .home-mainParagraph_challenging {
    width: 30rem;
  }

  .home-container-stepr {
    width: auto;
    flex-direction: row;
    gap: 1rem;
  }

  .home-container_bePart {
    margin-top: 0rem;
  }

  .home-content_itemsBePart {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-container_shedulesLast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }

  .home-session_linkSchedules {
    text-align: left;
  }

  .home-image-sukatDavid {
    width: 10rem;
  }

  .home-image_latestStudy {
    width: 20rem;
  }
}

@media (width >=80rem) {
  .home-title {
    width: auto;
    font-size: var(--fontSize-superTitles_laptop);
    margin-bottom: 1.8rem;
  }

  .home-sutbtitle_down {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .home-container_challenging {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .home-title_challenging {
    font-size: var(--fontSize-titles_laptop);
  }

  .home-mainParagraph_challenging {
    width: 40rem;
    font-size: var(--fontSize-paragraph_desktop);
    margin-bottom: 2rem;
  }

  .home-container-stepr {
    gap: 5rem;
  }

  .home-title_step {
    width: 12rem;
  }

  .home-title_bePart {
    margin-top: 2rem;
    font-size: var(--fontSize-titles_laptop);
  }

  .home-image_bePart {
    width: 18rem;
  }

  .home-container_shedulesLast {
    background-position: initial;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  .home-title_shedulesLast {
    font-size: var(--fontSize-subtitles_laptop);
  }

  .home-image-sukatDavid {
    width: 15rem;
  }

  .home-image_latestStudy {
    width: 47rem;
  }
}
