.icon-star {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--yellow);
    transition: var(--transition);
    cursor: pointer;
}

.icon-star:hover {
    transform: scale(1.2);
}

@media (width >=64rem) {
    .icon-star {
        width: 1.5rem;
        height: 1.5rem;
    }
}