.register-check-icon {
  color: var(--turquoise);
  width: 1.3rem;
  margin-left: 0.6rem;
  background: white;
  border-radius: 80%;
}

@media (min-width: 768px) {
  .register-check-icon {
    width: 1.5rem;
    margin-left: 0.8rem;
  }
}
