.register-check-icon {
  color: var(--turquoise);
  width: 1.3rem;
  margin: 0 0.5rem;
  background: var(--white);
  border-radius: 80%;
}

@media (width >=48rem) {
  .register-check-icon {
    width: 1.5rem;
    margin: 0 1rem 0 0.8rem;
  }
}
