.registerFormPassword-characterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registerFormPassword-containerButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerFormPassword-enabledButton {
  width: 8rem;
  margin-top: 1.5rem;
  color: var(--white);
  background-color: var(--turquoise);
}

.registerFormPassword-enabledButton:hover {
  background-color: var(--darkBlue);
  color: var(--white);
}

.registerFormPassword-disabledButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  margin-top: 1.5rem;
  color: var(--darkGrayGradient);
  background-color: var(--grayGradient);
}

.registerFormPassword-disabledButton:hover {
  transform: none;
  cursor: default;
}
.registerFormPassword-loadingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  margin-top: 1.5rem;
  background-color: var(--turquoise);
}
