.registerFormPassword-characterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registerFormPassword-containerButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerFormPassword-enabledButton {
  margin-top: 1.5rem;
  color: var(--white);
  background-color: var(--turquoise);
}

.registerFormPassword-enabledButton:hover {
  background-color: var(--darkBlue);
  color: var(--white);
}

.registerFormPassword-disabledButton {
  margin-top: 1.5rem;
  color: var(--darkGrayGradient);
  background-color: var(--grayGradient);
}

.registerFormPassword-disabledButton:hover {
  transform: none;
  cursor: default;
}
