.register-button_submit-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}
.form-register_btn {
  background-color: var(--turquoise);
  color: var(--white);
  font-weight: bold;
}
