.classRoomRoute-subcontent {
  background-color: var(--turquoise);
  cursor: pointer;
}

.classRoomRoute-title {
  padding: 1rem;
  font-size: var(--fontSize-paragraph_mobile);
  font-weight: bold;
  color: var(--white);
}

.classRoomRoute-title.selected {
  background-color: var(--darkBlue);
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--white);
}

.classRoomRoute-iconCircle {
  display: none;
}

@media (width >=48rem) {
  .classRoomRoute-title {
    padding-left: 7rem;
  }
}

@media (width >=64rem) {
  .classRoomRoute-subcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .classRoomRoute-title {
    display: none;
  }

  .classRoomRoute-iconCircle.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBlue);
    font-size: var(--fontSize-paragraph_mobile);
    color: var(--white);
  }

  .classRoomRoute-iconCircle {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    text-align: center;
    padding-top: 0.18rem;
    border-radius: 50%;
    font-size: var(--fontSize-buttons_mobile);
    background-color: var(--white-transparent);
    color: var(--darkGreen);
  }

  .unlocked {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    text-align: center;
    padding-top: 0.18rem;
    border-radius: 50%;
    font-size: var(--fontSize-buttons_mobile);
    color: var(--darkGrayGradient);
    background-color: var(--grayGradient);
    cursor: not-allowed;
  }

  .blocked {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    text-align: center;
    padding-top: 0.18rem;
    border-radius: 50%;
    font-size: var(--fontSize-buttons_mobile);
    color: var(--darkGrayGradient);
    background-color: var(--grayGradient);
    cursor: not-allowed;
  }

  .classRoomRoute-line {
    width: 0.12rem;
    height: 1rem;
    background-color: var(--white-transparent);
  }

  .classRoomRoute-line.hide {
    display: none;
  }
}
