.searchBar {
  width: 26.875rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  border: 0.063rem solid var(--greenDesafiante);
  border-radius: var(--borderRadius);
  padding: 0.625rem 0.875rem;
  background-color: transparent;
  color: var(--white);
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  color: var(--white);
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

.iconSearch {
  color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
  font-weight: bold;
  cursor: pointer;
}
