.learningPathTitleClass-container {
  padding: 1rem;
}

.learningPathTitleClass-topic {
  font-size: var(--fontSize-subtitles_mobile);
  color: var(--darkBlue);
}

.learningPathTitleClass-line {
  width: 4rem;
  height: 0.2rem;
  background-color: var(--yellow);
  border-radius: var(--borderRadius);
}

.learningPathTitleClass-title {
  font-size: var(--fontSize-titles_mobile);
  color: var(--darkBlue);
  margin-top: 0.5rem;
}

.learningPathTitleClass-subcontent {
  display: none;
}

@media (width >=48rem) {
  .learningPathTitleClass-container {
    padding-left: 7rem;
  }

  .learningPathTitleClass-title {
    font-size: var(--fontSize-titles_tablet);
  }
}

@media (width >=64rem) {
  .learningPathTitleClass-container {
    height: 100vh;
    padding-top: 8rem;
    padding-left: 1rem;
  }

  .learningPathTitleClass-title {
    width: 18rem;
    padding-top: 0.5rem;
    font-size: var(--fontSize-titles_laptop);
  }

  .learningPathTitleClass-subcontent {
    width: 16rem;
    display: block;
    padding-top: 1rem;
    font-size: var(--fontSize-paragraph_laptop);
    color: var(--darkGreen);
  }
}

@media (width >=75rem) {
  .learningPathTitleClass-container {
    padding-left: 1rem;
  }

  .learningPathTitleClass-title {
    width: 20rem;
    font-size: var(--fontSize-titles_desktop);
  }

  .learningPathTitleClass-subcontent {
    width: 18rem;
    font-size: var(--fontSize-paragraph_desktop);
  }
}

@media (min-width: 100rem) {
  .learningPathTitleClass-container {
    padding-top: 12rem;
  }
}
