.learningPathTitleClass-container {
  padding: 1.5rem 1rem;
}

.learningPathTitleClass-topic {
  font-size: 0.8rem;
  color: var(--darkBlue);
}

.learningPathTitleClass-line {
  width: 4rem;
  height: 0.2rem;
  background-color: var(--yellow);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.learningPathTitleClass-title {
  font-size: 1rem;
  color: var(--darkBlue);
}

.learningPathTitleClass-subcontent {
  display: none;
}

@media (min-width: 48rem) {
  .learningPathTitleClass-container {
    padding-left: 7rem;
  }

  .learningPathTitleClass-topic {
    font-size: 0.9rem;
  }

  .learningPathTitleClass-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 64rem) {
  .learningPathTitleClass-container {
    padding-top: 10rem;
    padding-left: 4rem;
  }

  .learningPathTitleClass-topic {
    font-size: 1.5rem;
    color: var(--darkBlue);
    font-weight: bold;
  }

  .learningPathTitleClass-line {
    width: 7rem;
    height: 0.3rem;
  }

  .learningPathTitleClass-title {
    width: 18rem;
    margin-top: 2rem;
    font-size: 3rem;
  }

  .learningPathTitleClass-subcontent {
    width: 18rem;
    display: block;
    color: #0f5765;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .learningPathTitleClass-questions,
  .learningPathTitleClass-invitation,
  .learningPathTitleClass-subtopic {
    margin-top: 1rem;
  }
}

@media (min-width: 66.875rem) {
  .learningPathTitleClass-container {
    padding-left: 0rem;
  }
}

@media (min-width: 105rem) {
  .learningPathTitleClass-container {
    padding-left: 0rem;
  }

  .learningPathTitleClass-topic {
    font-size: 1.8rem;
  }

  .learningPathTitleClass-line {
    width: 9rem;
  }

  .learningPathTitleClass-title {
    width: 23rem;
    font-size: 3rem;
  }

  .learningPathTitleClass-subcontent {
    font-size: 1.2rem;
  }
}
