.validationMessage {
  color: var(--white);
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

@media (width >=48rem) {
  .validationMessage {
    color: var(--white);
    display: flex;
    margin-top: 0.5rem;
  }
}
