.thematicStudies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thematicStudies__welcome {
  margin-top: 6.25rem;
  width: 100%;
  height: 70vh;
  background-color: #dbd7d773;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.thematicStudies__title--welcome {
  width: 12.5rem;
  color: var(--greenDesafiante);
  font-size: var(--fontSize-superTitles_mobile);
  text-align: center;
}

.thematicStudies__paragraph--welcome {
  color: var(--darkGray);
  font-size: var(--fontSize-paragraph_mobile);
  text-align: center;
  width: 15.625rem;
}

.thematicStudies__content--videosThematics {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.thematicStudies__content--textInfo {
  width: 80%;
  height: 10rem;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.thematicStudies__title--textInfo {
  font-size: var(--fontSize-titles_mobile);
  color: var(--darkGray);
}

.thematicStudies__paragraph--textInfo {
  width: 15.625rem;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
}

.thematicStudies__image--videosThematics {
  width: 16.875rem;
  height: 10rem;
  border-radius: var(--borderRadius);
  object-fit: cover;
}

.thematicStudies__content--PDFThematics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thematicStudies__content--textInfo-PDFs {
  width: 75%;
}

.thematicStudies__content--PDF {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 5rem;
}

.thematicStudies__paragraph--PDF {
  text-align: center;
  margin-top: 1rem;
  font-size: var(--fontSize-paragraph_mobile);
  width: 12.5rem;
}

.thematicsStudies__subtitle--PDF {
  position: relative;
  width: 12.5rem;
  overflow: hidden;
  text-align: center;
}

@media (width >= 48rem) {
  .thematicStudies__title--welcome {
    width: 100%;
    font-size: var(--fontSize-superTitles_tablet);
  }

  .thematicStudies__paragraph--welcome {
    font-size: var(--fontSize-paragraph_tablet);
  }

  .thematicStudies__content--videosThematics {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thematicStudies__content--textInfo {
    width: 16.875rem;
    height: 10rem;
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .thematicStudies__title--textInfo {
    font-size: var(--fontSize-titles_tablet);
  }

  .thematicStudies__paragraph--textInfo {
    font-size: var(--fontSize-paragraph_tablet);
  }

  .thematicStudies__content--PDFThematics {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .thematicStudies__content--textInfo-PDFs {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .thematicStudies__content--PDF {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    align-items: baseline;
  }
  .thematicStudies__paragraph--PDFs {
    text-align: left;
  }

  .thematicStudies__paragraph--PDF {
    text-align: center;
    margin-top: 1rem;
    font-size: var(--fontSize-paragraph_mobile);
  }
}

@media (width >= 64rem) {
  .thematicStudies > .thematicStudies__welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    height: 60vh;
  }

  .thematicStudies__title--welcome {
    font-size: var(--fontSize-superTitles_laptop);
    margin-bottom: 3.125rem;
  }

  .thematicStudies__paragraph--welcome {
    font-size: var(--fontSize-paragraph_laptop);
    width: 21.875rem;
  }

  .thematicStudies__content--videosThematics {
    width: 80%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thematicStudies__content--textInfo {
    width: 18.75rem;
    height: 10rem;
  }

  .thematicStudies__content--PDFThematics {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .thematicStudies__content--textInfo-PDFs {
    margin-top: 5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .thematicStudies__title--textInfo {
    font-size: var(--fontSize-titles_desktop);
  }

  .thematicStudies__paragraph--textInfo {
    font-size: var(--fontSize-paragraph_desktop);
  }

  .thematicStudies__image--videosThematics {
    width: 18.75rem;
    height: 10rem;
    transition: all 300ms;
  }

  .thematicStudies__content--PDFThematics {
    width: 80%;
  }
  .thematicStudies__paragraph--PDFs {
    width: 31.25rem;
  }

  .thematicStudies__image--PDF {
    transition: all 300ms;
  }

  .thematicStudies__image--videosThematics:hover,
  .thematicStudies__image--PDF:hover {
    transform: scale(1.05);
  }
}
