.thematicStudies {
  margin-top: 4.5rem;
}

.thematicStudies__welcome {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ededed;
}

.thematicStudies__title--welcome {
  width: 12rem;
  font-size: var(--fontSize-superTitles_mobile);
  color: var(--greenDesafiante);
}

.thematicStudies__paragraph--welcome {
  width: 15rem;
  margin-top: 1rem;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
}

.thematicStudies__content--videosThematics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 3rem;
}

.thematicStudies__title--textInfo {
  font-size: var(--fontSize-titles_mobile);
  color: var(--darkGray);
}

.thematicStudies__paragraph--textInfo {
  width: 17rem;
  margin-top: 1rem;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
}

.thematicStudies__image--videosThematics {
  width: 17rem;
}

.thematicStudies__image--videosThematics,
.thematicStudies__image--PDF {
  border-radius: var(--borderRadius);
  object-fit: cover;
  cursor: pointer;
  transition: var(--transition);
}

.thematicStudies__image--videosThematics:hover,
.thematicStudies__image--PDF:hover {
  transform: var(--transform);
}

.thematicStudies__container--PDFThematics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.thematicStudies__container--PDF {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.thematicStudies__content--PDF {
  width: 12.5rem;
  text-align: center;
}

.thematicStudies__image--PDF {
  height: 16rem;
}

.thematicStudies__name--PDF {
  margin-top: 1rem;
  font-size: var(--fontSize-subtitles_mobile);
}

.thematicsStudies__description--PDF {
  font-size: var(--fontSize-paragraph_mobile);
}

@media (width >=48rem) {
  .thematicStudies {
    display: flex;
    flex-direction: column;
  }

  .thematicStudies__title--welcome {
    width: 100%;
  }

  .thematicStudies__content--videosThematics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .thematicStudies__title--textInfo {
    font-size: var(--fontSize-titles_tablet);
  }

  .thematicStudies__content--textInfo-PDFs {
    width: 38rem;
  }

  .thematicStudies__name--PDFs {
    width: 23rem;
  }

  .thematicStudies__container--PDF {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}

@media (width >=80rem) {
  .thematicStudies__title--welcome {
    font-size: var(--fontSize-superTitles_laptop);
  }

  .thematicStudies__paragraph--welcome {
    width: 25rem;
    font-size: var(--fontSize-paragraph_laptop);
  }

  .thematicStudies__content--videosThematics {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .thematicStudies__content--textInfo,
  .thematicStudies__image--videosThematics {
    width: 20rem;
  }

  .thematicStudies__title--textInfo {
    font-size: var(--fontSize-titles_laptop);
  }

  .thematicStudies__paragraph--textInfo {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .thematicStudies__content--textInfo-PDFs {
    width: 59rem;
  }

  .thematicStudies__name--PDFs {
    width: 28rem;
  }

  .thematicStudies__container--PDF {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .thematicStudies__content--PDF {
    width: 14rem;
  }

  .thematicStudies__image--PDF {
    height: 18rem;
  }
}