.carousel-container {
  position: relative;
}

.carousel-content_view {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel-view {
  position: relative;
  min-width: 100%;
  z-index: 10;
}

.carousel-btn {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: calc(50vh - 2.5rem);
  border: none;
  border-radius: 50%;
  color: var(--greenDesafiante);
  background-color: var(--white-transparent);
  cursor: pointer;
  transition: var(--transition);
}

.carousel-btn:hover {
  background-color: var(--greenDesafiante);
  color: var(--white);
}

.carousel-btn_right {
  left: 0.2rem;
}

.carousel-btn_left {
  right: 0.2rem;
}