.favorites-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.imgur.com/PSLqcjG.png);
    background-size: 100% 100%;
    overflow-y: scroll;
}

.favorites-title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSize-superTitles_mobile);
    background-color: var(--turquoise);
    color: var(--white);
}

.favorites-section_buttons {
    width: 74%;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    gap: 0.3rem;
    overflow-x: hidden;
}

.favorites-button {
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: var(--borderRadius);
    font-size: var(--fontSize-buttons_mobile);
    color: var(--darkBlue);
    background-color: var(--grayGradient);
    transition: background-color 1s, color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.favorites-button:hover {
    background-color: var(--gray);
    color: var(--white);
}

.favorites-button.active {
    background-color: var(--darkBlue);
    color: var(--white);
    font-weight: bold;
}

.favorites-arrow_btn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease all;
    background-color: var(--white);
    color: var(--gray);
}

.favorites-arrow_btn:hover {
    background: var(--gray);
    color: var(--white);
}

.favorites-iconArrow {
    width: 2rem;
    height: 2rem;
}

.favorites-btn_left {
    left: 0.5rem;
}

.favorites-btn_right {
    right: 0.5rem;
}

.favorites-container_cards {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.favorites-cards {
    width: 11rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    border: var(--border) var(--darkGray);
}

.hidden {
    display: none;
}

@media (width >=48rem) {
    .favorites-title {
        height: 6rem;
        font-size: var(--fontSize-superTitles_tablet);
    }

    .favorites-section_buttons {
        width: 79%;
        margin: 0;
        margin-left: 7rem;
        gap: 1rem;
    }

    .favorites-btn_left {
        left: 5.5rem;
    }

    .favorites-btn_right {
        right: 0.5rem;
    }

    .favorites-container_cards {
        padding-left: 5rem;
        padding-bottom: 1rem;
        gap: 2rem;
    }

    .favorites-cards {
        width: 12rem;
        height: 16rem;
    }
}

@media (width >=64rem) {
    .favorites-title {
        height: 7rem;
        font-size: var(--fontSize-superTitles_laptop);
    }

    .favorites-section_buttons {
        width: 85%;
        padding: 1rem 1.5rem;
        gap: 1rem;
    }

    .favorites-button {
        font-size: var(--fontSize-buttons_laptop);
    }

    .favorites-container_cards {
        margin-top: 1.5rem;
        padding-bottom: 2rem;
        gap: 2rem;
    }

    .favorites-cards {
        width: 14rem;
        height: 18rem;
    }
}

@media (width >=75rem) {
    .favorites-section_buttons {
        width: 90%;
    }

    .favorites-btn_left {
        left: 6.5rem;
    }

    .favorites-container_cards {
        padding-left: 6rem;
    }

    .favorites-cards {
        width: 15rem;
        height: 19rem;
    }

}