.form-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, #29384be6, rgba(41, 56, 77, 0.902)),
    url("https://i.imgur.com/giBenIE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 2rem;
}

.form-login_title {
  width: 16rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: var(--fontSize-superTitles_mobile);
}

.form-login_forgotPassword {
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--grayGradient);
  font-size: var(--fontSize-paragraph_mobile);
}

.form-login_forgotPassword:hover {
  text-decoration: underline;
  color: var(--turquoise);
}

.form-login_btn {
  width: 8rem;
  margin-top: 0.8rem;
  color: var(--white);
  background-color: var(--turquoise);
  font-size: var(--fontSize-buttons_mobile);
}

.link-register {
  text-decoration: none;
}

.form-register_btn {
  width: 8rem;
  margin-top: 0.8rem;
  color: var(--white);
  background-color: transparent;
  border: 0.063rem solid var(--white);
  font-size: var(--fontSize-buttons_mobile);
}

.form-login_btn:hover,
.form-register_btn:hover {
  font-weight: bold;
  color: var(--turquoise);
  background-color: var(--white);
}

@media (min-width: 38rem) {
  .form-login_title {
    width: 18rem;
    margin-top: 5rem;
    font-size: var(--fontSize-superTitles_tablet);
  }
}

@media (width >=64rem) {
  .form-login_title {
    width: 28rem;
    font-size: var(--fontSize-superTitles_laptop);
  }

  .form-login_forgotPassword {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .form-login_btn,
  .form-register_btn {
    width: 10rem;
    font-size: var(--fontSize-buttons_laptop);
  }
}
