.assessment-image_container {
    position: relative;
    top: 13rem;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.assessment-image {
    width: 14rem;
}

.assessment-questions_content {
    position: relative;
    display: flex;
    justify-content: center;
    top: 15rem;
}

.assessment-questions {
    padding: 0 1.25rem;
    font-size: var(--fontSize-subtitles_mobile);
    text-align: center;
    color: var(--white);
}

.assessment-startButton_container {
    position: relative;
    top: 17rem;
    display: flex;
    justify-content: center;
}

.assessment-startButton {
    background-color: var(--white);
    color: var(--darkBlue);
    font-weight: bold;
    letter-spacing: 0.063rem;
}

.assessment-startButton:hover {
    background-color: var(--yellow);
}

@media (width >=48rem) {
    .assessment-questions_container {
        padding-left: 5rem;
    }

    .assessment-image {
        width: 16rem;
    }

    .assessment-questions {
        font-size: var(--fontSize-subtitles_tablet);
    }
}

@media (width >=64rem) {
    .assessment-questions {
        font-size: var(--fontSize-subtitles_laptop);
    }
}

@media (width >=87.5rem) {
    .assessment-image {
        width: 19rem;
    }
}