.assessment-image {
    width: 14rem;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

.assessment-questions_content {
    display: flex;
    justify-content: center;
}

.assessment-questions {
    margin-top: 1rem;
    padding: 0 1.25rem;
    text-align: center;
    font-size: var(--fontSize-subtitles_mobile);
    font-weight: bold;
    color: var(--white);
}

.assessment-startButton_container {
    display: flex;
    justify-content: center;
}

.assessment-startButton {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    background-color: var(--white);
    color: var(--darkBlue);
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.assessment-startButton:hover {
    background-color: var(--yellow);
}

@media (width >=48rem) {
    .assessment-image {
        width: 16rem;
    }

    .assessment-questions {
        font-size: var(--fontSize-subtitles_tablet);
    }
}

@media (width >=64rem) {
    .assessment-questions {
        font-size: var(--fontSize-subtitles_laptop);
    }
}

@media (width >=87.5rem) {
    .assessment-image {
        width: 19rem;
    }
}