.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--borderRadius);
  font-size: var(--fontSize-buttons_mobile);
  transition: var(--transition);
  cursor: pointer;
}

.button:hover {
  transform: var(--transform);
}

.button:disabled {
  cursor: not-allowed;
  background-color: #d3d3d3;
  color: #a1a1a1;
}
@media (width >=64rem) {
  .button {
    font-size: var(--fontSize-buttons_laptop);
  }
}
