.button-component {
  width: auto;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--borderRadius);
  font-size: var(--fontSize-buttons_mobile);
  transition: var(--transition);
  cursor: pointer;
}

.button-component:hover {
  transform: var(--transform);
}

@media (min-width: 64rem) {
  .button-component {
    font-size: var(--fontSize-buttons_laptop);
  }
}
