.assessmentQuestions__container--questions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 160px;
}

.assessmentQuestions__img {
    position: relative;
    width: 180px;
    height: 130px;
    background-color: rgb(80, 214, 214);
    border-radius: 25px;
}

.assessmentQuestions__numberQuestion {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    padding: 0 10px;
    height: 100%;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 10px 0;
}

.assessmentQuestions__container--buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 220px;
}

.assessmentQuestions__content--titleQuestion {
    margin: 20px auto;
}

.assessmentQuestions__titleQuestion {
    color: #FFFFFF;
    font-size: var(--fontSize-paragraph_mobile);
}

.assessmentQuestions__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.assessmentQuestions__button {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: var(--fontSize-paragraph_mobile);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.assessmentQuestions__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.correct,
.correct:hover {
    background-color: #61D3C3 !important;
    color: #000000 !important;
}

.incorrect,
.incorrect:hover {
    background-color: #F44336 !important;
    color: #000000 !important;
}

.inactive {
    background-color: #888888 !important;
    cursor: not-allowed;
}

.button1,
.button2 {
    margin-bottom: 10px;
}

.button3,
.button4 {
    margin-top: 10px;
}

.button1 {
    background-color: #FFC73B;
}

.button2 {
    background-color: #F44336;
}

.button3 {
    background-color: #38B6FF;
}

.button4 {
    background-color: #61D3C3;
}

.assessmentQuestions__button--next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -20px;    
    width: 60px;
    height: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: var(--fontSize-paragraph_mobile);
    color: var(--darkGrayGradient);
    padding: 0 10px;
} 

.assessmentQuestions__button--next:hover {
    background-color: var(--turquoise);
    color: var(--white);
    font-weight: bold;
}

/* .assessmentQuestions__button--validate {
    position: relative;
    bottom: 20px;
    width: auto;
    height: 40px;
    padding: 0 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0.875rem;
    border: none;
    cursor: pointer;
    font-size: var(--fontSize-paragraph_mobile);
    color: var(--darkGrayGradient);
}

.assessmentQuestions__button--validate:hover {
    background-color: #FAD047;
    color: var(--darkBlue);
    font-weight: bold;
} */

@media (width >=48rem) {
    .assessmentQuestions__img {
        width: 180px;
        height: 140px;
        border-radius: 25px;
    }

    .assessmentQuestions__numberQuestion {
        font-size: var(--fontSize-paragraph_tablet);
    }

    .assessmentQuestions__container--buttons {
        width: 500px;
        height: 220px;
    }

    .assessmentQuestions__titleQuestion {
        font-size: var(--fontSize-paragraph_tablet);
    }

    .assessmentQuestions__content--buttons {
        display: flex;
        flex-direction: column;
        width: 350px;
    }

    .assessmentQuestions__button {
        width: 150px;
        border-radius: 20px;
        font-size: var(--fontSize-paragraph_tablet);
    }

    .assessmentQuestions__button--next {
        left: 300px;
        bottom: 120px;
    }
}

@media (width >=64rem) {

    .assessmentQuestions__img {
        width: 200px;
        height: 150px;
    }

    .assessmentQuestions__numberQuestion {
        font-size: var(--fontSize-paragraph_desktop);
    }

    .assessmentQuestions__container--buttons {
        width: 600px;
    }

    .assessmentQuestions__titleQuestion {
        font-size: var(--fontSize-paragraph_desktop);
    }

    .assessmentQuestions__content--buttons {
        width: 80%;
    }

    .assessmentQuestions__button {
        width: 180px;
        font-size: var(--fontSize-paragraph_desktop);
    }

    .assessmentQuestions__button--next {
        left: 380px;
        bottom: 120px;
    }
}

@media (width >=1400px) {
    .assessmentQuestions__container--questions {
        top: 200px;
    }

    .assessmentQuestions__img {
        width: 250px;
        height: 210px;
    }

    .assessmentQuestions__numberQuestion {
        left: 700px;
    }
}