.assessmentQuestions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.assessmentQuestions-img {
  width: 11rem;
  height: 10rem;
  margin-top: 2rem;
  border-radius: var(--borderRadius);
  background-color: var(--gray);
}

.assessmentQuestions-numberQuestion {
  margin-top: 1rem;
  padding: 0.3rem 0.5rem;
  color: var(--white);
  background-color: #99999969;
  border-radius: var(--borderRadius);
  font-weight: bold;
}

.assessmentQuestions-question_container {
  width: 18rem;
  height: auto;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  border-radius: 1.25rem;
  background-color: #99999969;
}

.assessmentQuestions-question_title {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--white);
  font-size: var(--fontSize-subtitles_mobile);
  font-weight: bold;
}

.assessmentQuestions-answerOptions_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.assessmentQuestions-checkAndNextButtons_container {
  width: 18rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.assessmentQuestions-checkAnswerButton,
.assessmentQuestions-nextQuestionButton {
  background-color: var(--white);
  color: var(--darkBlue);
  font-weight: bold;
}

.assessmentQuestions-checkAnswerButton_disabled,
.assessmentQuestions-nextQuestionButton_disabled {
  background-color: var(--grayGradient);
  color: var(--darkGrayGradient);
}

.assessmentQuestions-checkAnswerButton_disabled:hover,
.assessmentQuestions-nextQuestionButton_disabled:hover {
  cursor: auto;
  transform: none;
}

.assessmentQuestions-answerOptions_button {
  width: 8rem;
  margin: 0 auto;
  font-weight: bold;
  color: var(--darkBlue);
}

.assessmentQuestions-answerOptions_button:hover {
  background-color: var(--grayGradient);
}

.assessmentQuestions-answerOptions_button.color1 {
  background-color: var(--yellow);
}

.assessmentQuestions-answerOptions_button.color2 {
  background-color: #cb71cd;
}

.assessmentQuestions-answerOptions_button.color3 {
  background-color: var(--blue);
}

.assessmentQuestions-answerOptions_button.color4 {
  background-color: #ff914d;
}

.assessmentQuestions-answerOptions_button.selected {
  border: 0.2rem solid var(--white-transparent);
  color: var(--white);
}

.assessmentQuestions-answerOptions_button.correctAnswer {
  background-color: var(--turquoise);
  color: var(--white);
}

.assessmentQuestions-answerOptions_button.incorrect {
  background-color: var(--red);
  color: var(--white-transparent);
}

@media (width >=48rem) {
  .assessmentQuestions-container {
    padding-bottom: 1rem;
  }

  .assessmentQuestions-img {
    width: 15rem;
    height: 11rem;
  }
}

@media (width >=64rem) {
  .assessmentQuestions-img {
    width: 17rem;
    height: 13rem;
  }

  .assessmentQuestions-numberQuestion {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .assessmentQuestions-question_container,
  .assessmentQuestions-checkAndNextButtons_container {
    width: 27rem;
  }

  .assessmentQuestions-question_title {
    font-size: var(--fontSize-subtitles_tablet);
  }

  .assessmentQuestions-answerOptions_button {
    width: 10rem;
  }
}

@media (width >=75rem) {
  .assessmentQuestions-question_container,
  .assessmentQuestions-checkAndNextButtons_container {
    width: 35rem;
  }

  .assessmentQuestions-checkAnswerButton,
  .assessmentQuestions-nextQuestionButton,
  .assessmentQuestions-checkAnswerButton_disabled,
  .assessmentQuestions-nextQuestionButton_disabled,
  .assessmentQuestions-answerOptions_button {
    width: 14rem;
  }
}
