.dashboardUserWelcome-container {
  background-color: var(--lightGrey);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.dashboardUserWelcome-welcomeMessageContainer {
  max-width: 85%;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: var(--borderRadius);
  box-shadow: 0rem 0rem 0.3rem 0.3rem #7b7b7b33;
}

.dashboardUserWelcome-welcomeMessage_title {
  font-size: var(--fontSize-titles_mobile);
  color: var(--blueKing);
}

.dashboardUserWelcome-welcomeMessage_paragraph {
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--darkGray);
}

.dashboardUserWelcome-welcomeMessage_decorationImg {
  display: none;
}

.dashboardUserWelcome-subtitle {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: var(--fontSize-subtitles_mobile);
  color: var(--blueKing);
}

.dashboardUserWelcome-continuePlayingContainer {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5rem;
  overflow-y: auto;
}

.dashboardUserWelcome-continuePlayingContainer img {
  width: 12rem;
  display: block;
  border-radius: var(--borderRadius);
}

.dashboardUserWelcome-resourcesContainer {
  width: 85%;
  max-height: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-left: 1.5rem;
  overflow-y: scroll;
}

.dashboardUserWelcome-resourcesContainer::-webkit-scrollbar {
  width: 0.2rem;
}

.dashboardUserWelcome-resourcesContainer::-webkit-scrollbar-thumb {
  background-color: var(--darkBlue);
  border-radius: var(--borderRadius);
}

.dashboardUserWelcome-resourcesContainer img {
  width: 8rem;
  display: block;
  border-radius: var(--borderRadius);
}

@media (width >=48rem) {
  .dashboardUserWelcome-container {
    min-height: 100vh;
    padding-left: 5rem;
  }

  .dashboardUserWelcome-welcomeMessage_title {
    font-size: var(--fontSize-titles_tablet);
  }

  .dashboardUserWelcome-subtitle {
    font-size: var(--fontSize-subtitles_tablet);
  }

  .dashboardUserWelcome-continuePlayingContainer img {
    width: 13rem;
  }

  .dashboardUserWelcome-resourcesContainer {
    max-height: 42vh;
  }

  .dashboardUserWelcome-resourcesContainer img {
    width: 8.5rem;
  }
}

@media (width >=64rem) {
  .dashboardUserWelcome-welcomeMessageContainer {
    position: relative;
  }

  .dashboardUserWelcome-welcomeMessage_title {
    width: 24.6rem;
    font-size: var(--fontSize-titles_laptop);
  }

  .dashboardUserWelcome-welcomeMessage_paragraph {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .dashboardUserWelcome-welcomeMessage_decorationImg {
    width: 13rem;
    display: block;
    position: absolute;
    right: calc(0rem - 6rem);
    bottom: 0rem;
  }

  .dashboardUserWelcome-subtitle {
    font-size: var(--fontSize-subtitles_laptop);
  }

  .dashboardUserWelcome-continuePlayingContainer {
    height: auto;
  }

  .dashboardUserWelcome-continuePlayingContainer img {
    width: 14rem;
  }

  .dashboardUserWelcome-resourcesContainer {
    max-height: 41vh;
  }

  .dashboardUserWelcome-resourcesContainer img {
    width: 9rem;
  }
}

@media (width >=75rem) {
  .dashboardUserWelcome-container {
    width: 100%;
    padding-left: 6rem;
  }

  .dashboardUserWelcome-welcomeMessageContainer {
    max-width: 40rem;
  }

  .dashboardUserWelcome-welcomeMessage_title {
    width: 33.7rem;
    font-size: var(--fontSize-titles_desktop);
  }

  .dashboardUserWelcome-welcomeMessage_paragraph {
    font-size: var(--fontSize-paragraph_desktop);
  }

  .dashboardUserWelcome-welcomeMessage_decorationImg {
    width: 14.2rem;
    right: calc(0rem - 7.6rem);
    bottom: 0rem;
  }

  .dashboardUserWelcome-subtitle {
    font-size: var(--fontSize-subtitles_desktop);
  }

  .dashboardUserWelcome-continuePlayingContainer img {
    width: 19rem;
  }

  .dashboardUserWelcome-resourcesContainer {
    max-height: 31vh;
  }

  .dashboardUserWelcome-resourcesContainer img {
    width: 10rem;
  }
}