.assessment-container {
  width: 100%;
  position: relative;
  background-image: url(https://i.imgur.com/pZsTHZ9.png);
  background-size: 100% 100%;
  /* overflow-y: auto; */
}

.content-conditionalView {
  padding: 2rem;
}

.assessment-topicTitle {
  text-align: center;
  font-size: var(--fontSize-titles_mobile);
  color: var(--darkBlue);
}

.assessment-topicDescription {
  margin-top: 1.8rem;
  padding: 0 1.5rem;
  text-align: center;
  font-size: var(--fontSize-subtitles_mobile);
  font-weight: bold;
  color: var(--darkBlue);
}

@media (width >=48rem) {
  .assessment-container {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    background-image: url(https://i.imgur.com/LbpagcS.png);
    background-size: 100% 100%;
  }

  .assessment-topicTitle {
    font-size: var(--fontSize-titles_tablet);
  }

  .assessment-topicDescription {
    font-size: var(--fontSize-subtitles_tablet);
  }
}

@media (width >=64rem) {
  .assessment-container {
    width: calc(100% - 2rem);
    margin-left: 0;
    paddidng: 0;
    background-image: url(https://i.imgur.com/LbpagcS.png);
    background-size: 100% 100%;
    overflow-y: auto;
  }
  .assessment-topicTitle {
    font-size: var(--fontSize-titles_laptop);
  }

  .assessment-topicDescription {
    font-size: var(--fontSize-subtitles_laptop);
  }
}
