.donations-backgroundContainer_info {
  background-image: linear-gradient(0deg, #fcfdffeb, #fcfdffeb),
    url("/donations/background-donations.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  margin-top: 4.5rem;
}

.donations-content_info {
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3rem;
}

.donations-title_info {
  font-size: var(--fontSize-titles_mobile);
  color: var(--greenDesafiante);
}

.donations-paragraph_info {
  margin-top: 1rem;
  font-size: var(--fontSize-paragraph_mobile);
  line-height: 1.4rem;
  text-align: justify;
  color: var(--black);
}

.donations-paragraph_info span {
  font-style: italic;
}

.donations-informations_paymentMethods {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donations-paragraph_pymentMethods {
  width: 16.5rem;
  text-align: center;
  font-size: var(--fontSize-subtitles_mobile);
  font-weight: bold;
  color: var(--black);
}

.donations-contentButton_paymentMethods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.donations-contentButton_paymentMethods>.donations-button_pypalme {
  width: 17rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  background-color: var(--greenDesafiante);
  color: var(--white);
}

.donations-contentButton_paymentMethods>.donations-button_support {
  width: 17rem;
  border: var(--border) var(--greenDesafiante);
  background-color: var(--white);
  color: var(--greenDesafiante);
}

.donations-cards_methods {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.donations-cards_methods>img {
  width: 2.8rem;
}

.donations-container_deposit {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.donations-content_deposit {
  width: 18rem;
  margin: 0 auto;
}

.donations-title_deposit {
  font-size: var(--fontSize-titles_mobile);
  color: var(--greenDesafiante);
}

.donations-title_bank {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--darkGreen);
  font-size: var(--fontSize-subtitles_mobile);
}

.donations-content_dataBank {
  margin-top: 1rem;
}

.donations-title_data {
  font-size: var(--fontSize-paragraph_mobile);
  font-weight: bold;
  color: var(--darkGreen);
}

.donations-info_data {
  color: var(--black);
  font-size: var(--fontSize-paragraph_mobile);
}

@media (width >=48rem) {
  .donations-backgroundContainer_info {
    height: 27rem;
    display: flex;
    padding-bottom: 0;
  }

  .donations-Container_info {
    width: 43rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
  }

  .donations-content_info {
    width: 100%;
    padding-top: 0;
  }

  .donations-informations_paymentMethods {
    margin-top: 0;
  }

  .donations-title_info {
    margin-top: 0;
    font-size: var(--fontSize-titles_tablet);
  }

  .donations-informations_paymentMethods {
    margin-top: 0;
  }

  .donations-content_deposit {
    position: relative;
    right: 12.5rem;
  }
}

@media (width >=80rem) {
  .donations-backgroundContainer_info {
    height: 30rem;
  }

  .donations-Container_info {
    width: 48rem;
  }

  .donations-title_info {
    font-size: var(--fontSize-titles_laptop);
  }

  .donations-paragraph_info {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .donations-content_deposit {
    right: 15rem;
  }
}