.donation-container {
  width: 100%;
  height: calc(100% - 6.25rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donation-information_backgroundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(0deg, #fcfdffed, rgba(255, 253, 253, 0.94)),
    url("/donations/background-donations.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.donation-info_container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 6rem;
}

.title-info {
  margin-top: 4rem;
  color: var(--greenDesafiante);
  text-align: center;
  font-size: var(--fontSize-titles_mobile);
}

.paragraph-info {
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--black);
  margin-top: 2rem;
}

.content-information_payment-methods {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-methods_paragraph {
  text-align: center;
  width: 12.5rem;
  margin-bottom: 1rem;
  color: var(--black);
  font-weight: bold;
}
.content-buttons-payment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content-buttons-payment > .paypalme-button {
  width: 9.375rem;
  background-color: var(--white);
  color: var(--greenDesafiante);
  font-size: var(--fontSize-buttons_mobile);
  border: var(--border) var(--greenDesafiante);
  font-size: var(--fontSize-buttons_mobile);
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.content-buttons-payment > .support-button {
  width: 9.375rem;
  background-color: var(--greenDesafiante);
  color: var(--white);
  font-size: var(--fontSize-buttons_mobile);
  border: var(--border) var(--greenDesafiante);
  font-size: var(--fontSize-buttons_mobile);
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.payment-methods_cards{
  display: flex;
  gap: 1rem;
}

.payment-methods_cards > img {
  width: 3rem;
}
.deposit-container {
  width: 90%;
  margin-top: 3rem;
}

.deposit-title {
  color: var(--greenDesafiante);
}

.bank-title {
  color: var(--darkBlue);
  font-size: var(--fontSize-subtitles_mobile);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bank-data_content {
  margin-bottom: 1rem;
}
.data-title {
  color: var(--black);
  font-weight: bold;
  font-size: var(--fontSize-paragraph_mobile);
}

.data-info {
  color: var(--black);
  font-size: var(--fontSize-paragraph_mobile);
}

@media (width >= 48rem) {

  .title-info {
    margin-top: 3rem;
    font-size: var(--fontSize-titles_tablet);
  }

  .paragraph-info {
    font-size: var(--fontSize-paragraph_mobile);
  }

  .content-information_payment-methods {
    margin-top: 3.5rem;
  }

  .payment-methods_paragraph {
    font-size: var(--fontSize-paragraph_mobile);
  }

  .content-buttons-payment {
    flex-direction: row;
    gap: 0.5rem;
  }

  .content-buttons-payment > .paypalme-button,
  .content-buttons-payment > .support-button {
    padding: 0.3rem;
    font-size: var(--fontSize-buttons_tablet);
  }

  .deposit-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .deposit-title {
    font-size: var(--fontSize-titles_tablet);
  }
  .bank-title {
    font-size: var(--fontSize-subtitles_tablet);
  }

  .data-title {
    font-size: var(--fontSize-paragraph_tablet);
  }

  .data-info {
    color: var(--black);
    font-size: var(--fontSize-paragraph_tablet);
  }
}

@media (width >= 64rem) {
  .donation-information_backgroundContainer {
    margin-top: 0;
    height: 90vh;
  }

  .donation-info_container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 80vh;
    align-items: center;
    justify-content: center;
  }

  .info-content {
    width: 30%;
  }

  .title-info{
    text-align: start;
  }
}

