.changePasswordUser-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  background-color: var(--darkBlue-content);
}

.changePasswordUser-modalContainer {
  width: 18.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  border-radius: var(--borderRadius);
  background: var(--white);
  box-shadow: var(--darkBlue) 0rem 0.438rem 0.438rem 0rem;
}

.changePasswordUser-returnProfile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--darkBlue);
  font-size: var(--fontSize-buttons_mobile);
  transition: var(--transition);
}

.changePasswordUser-returnProfile:hover {
  color: var(--turquoise);
}

.changePasswordUser-title {
  margin: 1rem 0rem;
  color: var(--turquoise);
  font-size: var(--fontSize-titles_mobile);
}

.changePasswordUser-cancelButton {
  width: 10rem;
  background-color: var(--red);
  margin-top: 1.2rem;
  color: var(--white);
}

.changePasswordUser-cancelButton:hover {
  background-color: var(--darkBlue-content);
}

@media (width >=38rem) {
  .changePasswordUser-modalContainer {
    width: 25rem;
  }
}

@media (width >=48rem) {
  .changePasswordUser-container {
    padding-bottom: 1rem;
  }

  .changePasswordUser-modalContainer {
    width: 30rem;
    margin-left: 5rem;
  }
}

@media (width >=64rem) {
  .changePasswordUser-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .changePasswordUser-modalContainer {
    width: 40rem;
  }

  .changePasswordUser-returnProfile {
    font-size: var(--fontSize-buttons_laptop);
  }

  .changePasswordUser-title {
    font-size: var(--fontSize-titles_laptop);
  }

  .changePasswordUser-cancelButton {
    width: 11rem;
  }
}