.dynamicTable {
  /* border-radius: 0.5rem; */
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  background-color: var(--white);
}

.dynamicTable td,
.dynamicTable th {
  border: 0.063rem solid var(--gray);
  padding: 0.5rem;
  text-align: center;
}

.container__colums {
  background-color: var(--grayGradient);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.625rem;
}

.pagination__button {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

.pagination__button:disabled {
  color: var(--darkGray);
  cursor: not-allowed;
}

.pagination__number {
  color: var(--white);
}
