.socialNetwork_icon {
  width: 1.875rem;
  height: 1.875rem;
  color: var(--white);
  transition: var(--transition);
}

.socialNetwork_icon:hover {
  color: var(--greenDesafiante);
  cursor: pointer;
  transform: var(--transform);
}

@media (width>=48rem) {
  .socialNetwork_icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (width >=80rem) {
  .socialNetwork_icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}