.form-reset_container {
  background-color: var(--darkBlue-content);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-reset_title {
  margin: 5rem 0 0 0;
  text-align: center;
  font-size: var(--fontSize-titles_mobile);
  color: var(--white);
}

.form-reset_paragraph {
  text-align: center;
  font-size: var(--fontSize-paragraph_mobile);
  color: var(--white);
  margin: 1.25rem 0;
}

.form-reset_button {
  color: var(--white);
  background-color: var(--turquoise);
  padding: 0.7rem;
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .form-reset_title {
    font-size: var(--fontSize-titles_tablet);
  }

  .form-reset_paragraph {
    font-size: var(--fontSize-paragraph_tablet);
  }

  .form-reset_button {
    background-color: var(--turquoise);
    font-size: var(--fontSize-buttons_tablet);
    font-weight: bold;
  }
}

@media (min-width: 64rem) {
  .form-forget_title {
    font-size: var(--fontSize-titles_desktop);
  }
  .form-forget_paragraph {
    font-size: var(--fontSize-paragraph_desktop);
  }
  .form-forget_button {
    font-size: var(--fontSize-buttons_desktop);
  }
}
