.assessment__container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.imgur.com/LbpagcS.png);
    background-size: 100% 100%;
}

.assessment__content--topic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.assessment__topic{
    color: var(--darkBlue);
    font: 30px;
    font-weight: 600;
}

.assessment__topic--description{
    color: var(--darkBlue);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.assessment__content--image{
    margin-top: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.assessment__image{
    width: 300px;
}

.assessment__content--questions{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.assessment__questions{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
}

.assessment__content--buttomStart{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.assessment__buttomStart{
    width: 150px;
    height: 40px;
    color: var(--darkBlue);
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #e4e4e4;
    border-radius: 0.875rem;
    border: none;
    cursor: pointer;
}

.assessment__buttomStart:hover{
    background-color: #FAD047;
}