.carouselTwo-section {
  height: 100vh;
  text-align: center;
  color: var(--white);
  background-color: var(--yellow);
}

.carouselTwo-title {
  width: 11rem;
  margin: 0 auto;
  padding-top: 6rem;
  font-size: var(--fontSize-superTitles_mobile);
}

.carouselTwo-titleTwo {
  margin-top: -4.5rem;
}

.carouselTwo-paragraph {
  width: 14rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-size: var(--fontSize-paragraph_mobile);
}

.carouselTwo-paragraph span {
  font-weight: bold;
}

.carouselTwo-img {
  width: 20rem;
}

@media (width >=48rem) {
  .carouselTwo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .carouselTwo-content_text {
    position: relative;
    z-index: 10;
    height: 15rem;
  }

  .carouselTwo-title {
    padding-top: 5rem;
    font-size: var(--fontSize-titles_tablet);
  }

  .carouselTwo-content_text.left {
    margin-left: 1.5rem;
  }

  .carouselTwo-content_text.rigth {
    margin-right: 1.5rem;
  }

  .carouselTwo-titleTwo {
    margin-top: 0rem;
  }

  .carouselTwo-container_img {
    width: 100%;
    position: fixed;
  }

  .carouselTwo-img {
    width: 30rem;
    display: block;
    margin: 0 auto;
    padding-top: 5rem;
  }
}

@media (width >=64rem) {
  .carouselTwo-content_text.left {
    margin-left: 4rem;
  }

  .carouselTwo-content_text.rigth {
    margin-right: 4rem;
  }

  .carouselTwo-title {
    width: 19rem;
    padding-top: 4rem;
    font-size: var(--fontSize-superTitles_laptop);
  }

  .carouselTwo-paragraph {
    width: 17rem;
    margin-top: 0.8rem;
    font-size: var(--fontSize-paragraph_laptop);
  }

  .carouselTwo-img {
    width: 35rem;
    padding-top: 8rem;
  }
}

@media (width >=75rem) {
  .carouselTwo-content_text.left {
    margin-left: 5rem;
  }

  .carouselTwo-content_text.rigth {
    margin-right: 5rem;
  }

  .carouselTwo-title {
    width: 23rem;
    font-size: var(--fontSize-superTitles_desktop);
  }

  .carouselTwo-paragraph {
    width: 19rem;
    font-size: var(--fontSize-paragraph_desktop);
  }

  .carouselTwo-img {
    width: 55rem;
    padding-top: 5rem;
  }
}
