.form-forget_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, #29384be6, #29384be6),
    url("https://i.imgur.com/giBenIE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}

.form-forget_title {
  width: 15rem;
  text-align: center;
  color: var(--white);
  font-size: var(--fontSize-superTitles_mobile);
  margin-bottom: 2rem;
}

.form-forget_paragraph {
  width: 18rem;
  margin: 1rem 0rem;
  text-align: center;
  color: var(--white);
  font-size: var(--fontSize-paragraph_mobile);
}

.form-forget_button {
  margin-top: 1rem;
  background-color: var(--turquoise);
  color: var(--white);
}

.form-forget_button-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174px;
  margin-top: 1rem;
  background-color: var(--turquoise);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.form-forget_button:hover {
  background-color: var(--white);
  color: var(--turquoise);
}

@media (width >=38rem) {
  .form-forget_title {
    font-size: var(--fontSize-superTitles_tablet);
  }

  .form-forget_paragraph {
    width: 20rem;
  }
}

@media (width >=64rem) {
  .form-forget_title {
    width: 25.75rem;
    font-size: var(--fontSize-superTitles_laptop);
  }

  .form-forget_paragraph {
    width: 28rem;
    font-size: var(--fontSize-paragraph_laptop);
  }
}
