.form-forget_container {
  background-color: var(--darkBlue-content);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-forget_title {
  margin-top: 1rem;
  font-size: var(--fontSize-titles_mobile);
  text-align: center;
  margin-bottom: 1.4rem;
  color: var(--white);
}
.form-forget_paragraph {
  text-align: center;
  color: var(--white);
  font-size: var(--fontSize-paragraph_mobile);
  margin-bottom: 2.5rem;
}
.form-forget_button {
  font-size: var(--fontSize-buttons_mobile);
  margin-top: 0.5rem;
  padding: 0.7rem;
  background-color: var(--greenDesafiante);
  color: var(--white);
}

@media (min-width: 48rem) {
  .form-forget_title {
    font-size: var(--fontSize-titles_tablet);
  }

  .form-forget_button {
    margin-top: 1rem;
  }
}
@media (min-width: 64rem) {
  .form-forget_title {
    font-size: var(--fontSize-titles_laptop);
  }
  .form-forget_paragraph {
    font-size: var(--fontSize-paragraph_laptop);
  }
  .form-forget_button {
    font-size: var(--fontSize-buttons_laptop);
  }
}
