.carouselOne-section {
  display: flex;
  justify-content: center;
}

.carouselOne-img_one {
  width: 23rem;
  height: 16rem;
  margin-top: 5rem;
}

.carouselOne-img_two {
  display: none;
}

.carouselOne-content_text {
  position: absolute;
  text-align: center;
  margin-top: 24rem;
}

.carouselOne-title {
  width: 12rem;
  color: var(--darkBlue);
  font-size: var(--fontSize-superTitles_mobile);
}

.carouselOne-title span {
  color: var(--yellow);
}

.carouselOne-paragraph {
  width: 12rem;
  margin-top: 1rem;
  color: var(--darkGreen);
  font-size: var(--fontSize-paragraph_mobile);
}

@media (width >=48rem) {
  .carouselOne-img_one {
    width: 35rem;
    height: 23rem;
    position: absolute;
    margin-top: 5rem;
    right: 0;
  }

  .carouselOne-img_two {
    width: 10rem;
    height: 21rem;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .carouselOne-content_text {
    text-align: left;
    margin-top: 10rem;
    margin-left: -25rem;
  }

  .carouselOne-title {
    width: 14rem;
    font-size: var(--fontSize-superTitles_tablet);
  }

  .carouselOne-paragraph {
    width: 13rem;
    margin-top: 1rem;
    font-size: var(--fontSize-paragraph_tablet);
  }
}

@media (width >=64rem) {
  .carouselOne-img_one {
    width: 45rem;
    height: 29rem;
  }

  .carouselOne-img_two {
    width: 12rem;
    height: 25rem;
  }

  .carouselOne-content_text {
    margin-top: 12rem;
    margin-left: -30rem;
  }

  .carouselOne-title {
    width: 21rem;
    font-size: var(--fontSize-superTitles_laptop);
  }

  .carouselOne-paragraph {
    width: 13rem;
    margin-top: 1rem;
    font-size: var(--fontSize-paragraph_laptop);
  }
}

@media (width >=75rem) {
  .carouselOne-img_one {
    width: 65rem;
    height: 45rem;
    margin-top: 6rem;
  }

  .carouselOne-img_two {
    width: 15rem;
    height: 35rem;
  }

  .carouselOne-content_text {
    margin-top: 20rem;
    margin-left: -50rem;
  }

  .carouselOne-title {
    width: 24rem;
    font-size: var(--fontSize-superTitles_desktop);
  }

  .carouselOne-paragraph {
    width: 19rem;
    font-size: var(--fontSize-paragraph_desktop);
  }
}
