.errorRegisterIcon {
  width: 1.3rem;
  margin: 0rem 0.5rem;
  color: var(--darkGray);
  background: var(--white);
  border-radius: 50%;
}

@media (width >=48rem) {
  .errorRegisterIcon {
    width: 1.5rem;
  }
}
