.icons-sidebar {
    width: 1.5rem;
    color: var(--darkBlue);
    transition: var(--transition);
}

.icons-sidebar:hover {
    color: var(--turquoise);
    transform: var(--transform);
}

.icon-dashboard,
.icon-logout {
    width: 1.7rem;
    height: 1.7rem;
}

@media (width >=64rem) {
    .icons-sidebar {
        width: 1.8rem;
    }

    .icon-dashboard,
    .icon-logout {
        width: 1.9rem;
        height: 1.9rem;
    }
}