.header {
  width: 100%;
  min-width: 20rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 200;
  padding: 0.5rem;
  top: 0;
  left: 0;
  align-items: center;
  backdrop-filter: blur(0.3rem);
}

.menu-header_logo {
  width: 3.5rem;
  display: flex;
  cursor: pointer;
  transition: var(--transition);
}

.menu-header_logo:hover {
  transform: var(--transform);
}

.menu-header_containerBtn {
  display: none;
}

@media (width >=48rem) {
  .header {
    padding: 0.5rem 1rem;
  }
}

@media (width >=64rem) {
  .header {
    padding: 0.5rem 1.5rem;
  }

  .menu-header_logo {
    width: 4rem;
  }

  .menu-header_containerBtn {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  .menu-header_item {
    color: var(--blueDark);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 300ms;
  }

  .menu-header_item:hover {
    cursor: pointer;
    color: var(--greenDesafiante);
    transition: all 300ms;
  }

  .menu-header_item.selected {
    color: var(--greenDesafiante);
    text-decoration: none;
  }

  .menu-header_arrow {
    margin-left: 0.5rem;
  }

  .menu-header_subMenuContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 2.063rem;
    position: absolute;
    padding: 2.813rem;
    height: auto;
    background-color: var(--white);
    transition: ease-out 0.5s;
    transform: scale(1);
    list-style: none;
    text-decoration: none;
  }

  .menu-header_subMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4.375rem);
    margin-top: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: auto;
  }

  .menu-header_subMenuItems {
    color: var(--blueDark);
    gap: 1.25rem;
    text-decoration: none;
  }

  .menu-header_subMenuItems:hover {
    color: var(--greenDesafiante);
    cursor: pointer;
  }
}