.header {
  width: 100%;
  min-width: 20rem;
  position: fixed;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  background-color: var(--white);
}

.header-logo {
  width: 4rem;
  display: flex;
  transition: var(--transition);
  cursor: pointer;
}

.header-logo:hover {
  transform: var(--transform);
}

.header-container_btn {
  display: none;
}

@media (width >=48rem) {
  .header {
    padding: 0.5rem 1rem;
  }

  .header-logo {
    width: 3.5rem;
  }
}

@media (width >=64rem) {
  .header {
    padding: 0.5rem 1.5rem;
  }

  .header-logo {
    width: 4rem;
  }
  .header-container_btn {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  .item-header {
    color: var(--blueDark);
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .item-header:hover {
    cursor: pointer;
    color: var(--greenDesafiante);
  }
  .item-header.selected {
    color: var(--greenDesafiante);
    text-decoration: none;
  }
  .arrow {
    margin-left: 0.5rem;
  }
  .subMenu-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 2.063rem;
    position: absolute;
    padding: 2.813rem;
    height: auto;
    background-color: var(--white);
    transition: ease-out 0.5s;
    transform: scale(1);
    list-style: none;
    text-decoration: none;
  }
  .subMenu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4.375rem);
    margin-top: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: auto;
  }
  .subMenu-items {
    color: var(--blueDark);
    gap: 1.25rem;
    text-decoration: none;
  }
  .subMenu-items:hover {
    color: var(--greenDesafiante);
    cursor: pointer;
  }
}
