.modalEditProfile-overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: var(--darkGrayGradient);
}

.modalEditProfile-container {
  width: 23rem;
  padding: 2rem;
  position: relative;
  background: var(--white);
  border-radius: var(--borderRadius);
}

.modalEditProfile-title {
  padding-bottom: 1rem;
  text-align: left;
  font-size: var(--fontSize-subtitles_mobile);
  border-bottom: 0.08rem solid var(--grayGradient);
  color: var(--darkBlue);
}

.modalEditProfile-iconClose {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--darkBlue);
  transition: var(--transition);
  cursor: pointer;
}

.modalEditProfile-iconClose:hover {
  color: var(--red);
}

@media (width >=64rem) {
  .modalEditProfile-container {
    width: 30rem;
  }

  .modalEditProfile-title {
    font-size: var(--fontSize-subtitles_tablet);
  }

  .modalEditProfile-iconClose {
    width: 2rem;
    height: 2rem;
  }
}