.profile-container {
  padding-bottom: 3rem;
}

.profileContainer-title_img {
  width: 100%;
  height: 8rem;
  background-color: var(--turquoise);
}

.profile-title {
  padding-top: 1rem;
  text-align: center;
  color: var(--white);
  font-size: var(--fontSize-superTitles_mobile);
}

.profile-container_img {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;
}

.profile-user_img {
  width: 100%;
  height: 100%;
  border: var(--border) var(--white);
  border-radius: 50%;
  object-fit: cover;
}

.profile-container_addPhoto {
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border) var(--white);
  border-radius: 50%;
  background-color: var(--darkBlue);
  cursor: pointer;
  transition: var(--transition);
}

.profile-container_addPhoto:hover {
  background-color: var(--turquoise);
  transform: var(--transform);
}

/* ModalEditPhotoProfile */
.profile-container_modalUploadPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.profile-modalUploadPhoto_buttonUploadPhoto {
  position: relative;
  margin: 0 auto;
}

.profile-modalUploadPhoto_label {
  font-size: var(--fontSize-buttons_mobile);
}

.profile-modalUploadPhoto_input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.profile-modalUploadPhoto_buttonUploadPhoto,
.profile-modalUploadPhoto_buttonSaveChange {
  width: 10rem;
  background-color: var(--turquoise);
  color: var(--white);
}

.profile-modalUploadPhoto_buttonUploadPhoto:hover,
.profile-modalUploadPhoto_buttonSaveChange:hover,
.profile-editInformation_saveChangeButton:hover,
.profile-editInformation_cancelButton:hover,
.profile-buttons:hover {
  background-color: var(--darkBlue);
}
.profile-container_previewImage {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}
.profile-user_previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* "Información personal" */
.profile-container_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
}

/* "Edit Information" */
.profile-content_editInformation {
  width: 16rem;
}

.profile-info_title {
  color: var(--darkBlue);
  font-size: var(--fontSize-subtitles_mobile);
}

.profile-editInformation_input {
  width: 100%;
  display: flex;
  padding: 0.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
  border-radius: var(--borderRadius);
  border: var(--border) var(--turquoise);
  color: var(--black);
  font-size: var(--fontSize-paragraph_mobile);
}

.profile-editInformation_containerButtons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.profile-editInformation_saveChangeButton {
  background-color: var(--turquoise);
  color: var(--white);
}

.profile-editInformation_cancelButton {
  color: var(--white);
  background-color: var(--red);
}

.profile-info_contentPersonalInformation {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.8rem;
}

.profile-info_personalInformation {
  color: var(--black);
  font-size: var(--fontSize-paragraph_mobile);
}

.profile-containerButtons {
  width: 11rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.profile-buttons {
  width: 11rem;
  background-color: var(--turquoise);
  color: var(--white);
}

@media (width >=48rem) {
  .profile-container {
    padding-bottom: 0rem;
  }

  .profile-title {
    font-size: var(--fontSize-superTitles_tablet);
  }

  .profile-container_img {
    width: 8rem;
    height: 8rem;
  }

  /* "Información personal" */
  .profile-container_info {
    padding-top: 5rem;
  }

  .profile-containerButtons {
    width: 19rem;
    flex-direction: row;
  }

  .profile-container_previewImage {
    width: 9.5rem;
    height: 9.5rem;
  }

  /* "Edit Information" */
  .profile-content_editInformation {
    width: 19rem;
  }
}

@media (width >=64rem) {
  .profile-container {
    padding-bottom: 1rem;
  }

  .profileContainer-title_img {
    height: 10rem;
  }

  .profile-title {
    padding-top: 4rem;
    font-size: var(--fontSize-superTitles_laptop);
    margin-left: 10rem;
  }

  .profile-container_img {
    width: 12rem;
    height: 12rem;
    margin-left: calc(50% - 25rem);
    margin-top: -5rem;
  }

  .profile-container_addPhoto {
    width: 2.5rem;
    height: 2.5rem;
    top: 9rem;
    left: 9rem;
  }

  /* ModalEditPhotoProfile */
  .profile-modalUploadPhoto_label {
    font-size: var(--fontSize-buttons_laptop);
  }

  .profile-modalUploadPhoto_buttonUploadPhoto,
  .profile-modalUploadPhoto_buttonSaveChange {
    width: 12rem;
  }

  .profile-container_previewImage {
    width: 12.5rem;
    height: 12.5rem;
  }
  /* "Información personal" */
  .profile-container_info {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  /* "Edit Information" */
  .profile-content_editInformation {
    width: 24rem;
    margin-left: 5rem;
  }

  .profile-info_title {
    font-size: var(--fontSize-subtitles_laptop);
  }

  .profile-editInformation_input {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .profile-info_personalInformation {
    font-size: var(--fontSize-paragraph_laptop);
  }

  .profile-containerButtons {
    justify-content: space-between;
  }

  .profile-buttons {
    width: auto;
  }
}
