.selectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  /* font-weight: 600; */
  font-size: var(--fontSize-trasitionLabel_laptop);
}

.select {
  width: 100%;
  padding: 0.6rem;
  border-radius: var(--borderRadius);
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--gray);
  font-size: var(--fontSize-trasitionLabel_laptop);
}
.select option {
  color: var(--darkBlue);
  cursor: pointer;
}

.select option:hover {
  background-color: var(--red);
  cursor: pointer;
}

.select:focus {
  outline: none;
  border-color: var(--turquoise);
}

.error {
  color: red;
  /* font-size: 0.8rem; */
}
